﻿html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	overflow: hidden; /* disable scrollbars */
	display: block;
    -ms-content-zooming: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family: arial;
    font-size: 100%; /* 1em = 16px */
	margin: 0;
	padding: 0;
}

#viewerCanvas {
    width:100%;
    height: 100%;
    position:absolute;
}

#content {
    width:100%;
    height: 100%;
    position:relative;
}

/* styles that used to be in Common, but have since been deleted
    these styles are still used somewhere else, and were just not defined
   these should either be cleaned up if they are no longer needed
*/
/*
.no-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}
*/