body {
    font-size: 300%;
}

.ui-timeout-window {
    font-size: 70%;
}

/* model browser */
.propertyWindow td {
    font-size: 75%;
}

.ui-modelbrowser-window {
    width: 99% !important;
}

.ui-modeltree-label {
    font-size: 66%;
    padding-top: .8em;
    font-weight: bold;
    height: 1.5em;
}

.propertyWindow {
    border-top: .6em solid gray;
}

.propertyWindow .ui-resizable-handle.ui-resizable-n {
    height: 100% !important;
    background: none !important;
}

/* toolbar */
#toolBar {
    transform: scale(1.74);
}

.toolbar-tools {
    opacity: 1 !important;
}

#explosion-slider {
    font-size: 16px;
}

/* viewer settings */
#viewer-settings-dialog {
    transform: scale(2);
}
