/* TextBox */

.esSearchTextboxContainer {
	display: table-cell;
	width: 206px;
}

.claro .dijitToolbar div.advancedTextBox.esSearchTextboxContainer {
	display: table-cell;
}

.esSearchTextboxContainer > div {
	height: 19px !important;
	width: 100%;
}

.esSearchTextboxContainer input {
	height: 18.5px !important;
	padding: 0 18px 0 4px !important;
	font-family: Tahoma, Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	color: #444444 !important;
	width: calc(100% - 18px) !important;
}

.esSearchTextboxContainer input::-ms-clear {
	display: none !important;
}

.esSearchTextboxContainer input::-webkit-input-placeholder {
	font-style: italic !important;
	color: #8d8d8d !important;
}

.esSearchTextboxContainer input:-moz-placeholder {
	font-style: italic !important;
	color: #8d8d8d !important;
}

.esSearchTextboxContainer input::-moz-placeholder {
	font-style: italic !important;
	color: #8d8d8d !important;
}

.esSearchTextboxContainer input:-ms-input-placeholder {
	font-style: italic !important;
	color: #8d8d8d !important;
}

/* Buttons */

.esSearchButtonContainer {
	display: table-cell;
	width: 52px !important;
	padding-right: 6px;
	background: url(../../Modules/aras.innovator.ES/Images/SearchLoupeWhite.svg) center center no-repeat #e78e46 !important;
	background-size: 20px 20px !important;
	background-clip: content-box !important;
	cursor: pointer !important;
	-webkit-padding-before: 1px;
}

@-moz-document url-prefix() {
	.esSearchButtonContainer {
		padding-bottom: 4px;
		padding-top: 4px;
	}
	.esSearchTextboxContainer input {
		height: 18px !important;
	}
}

.claro .dijitToolbarPopup[id*="popup"] .esSearchButtonContainer {
	padding: 0px !important;
}

.esSearchButtonContainer > span {
	opacity: 0 !important;
	width: 50px !important;
	height: 21px !important;
	padding: 0 !important;
}

.esClearCriteriaButtonContainer {
	position: absolute !important;
	right: 6px !important;
	width: 20px !important;
	height: 20px !important;
	margin-top: 4px !important;
	margin-right: 51px !important;
	background: url(../../images/close.svg) center center no-repeat !important;
	background-size: 20px 20px !important;
	cursor: pointer !important;
	z-index: 1;
}

.esClearCriteriaButtonContainer > span {
	opacity: 0 !important;
	width: 20px !important;
	height: 20px !important;
	padding: 0 !important;
}