﻿
.command-container{
	width: 150px;
	height: 16px;
	float: right;
}

.dijitTooltipDialogPopup .dijitTooltipContainer {
	border-radius: 0;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
	border: 1px solid rgb(180, 180, 180);
}

.command-div{
	width: 16px;
	height: 100%;
	float: right;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 10px;
	opacity: 0.5;
}

.command-div:hover{
	opacity: 1;
}

.frame-command {
	width:100%;
	height: 100%;
}

.link-label {
	margin-left:5px;
	margin-top:2px;
	overflow:visible !important;
	color:gray;
}
.dijitTreeLabel {
	margin-left:5px;
	margin-top:2px;
	overflow:visible !important;
}

.dijitTreeRow span{
	float:left;
}

#divTree{
	height:100% !important;
}

#editorPane{
	top:0px !important;
	left:0px !important;
}

.base-command {
	/*background-image: url(../Images/flagged.svg);*/
	background-color: red;
	width: 22px;
	height:22px;
	background-size: 22px 22px;
	background-position-x: center;
	background-position-y: center;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	margin-bottom: 2px;
	margin-top: 2px;
	margin-right: 5px;
	position: absolute;
	top: 0px;
	right: 0px;
}


.claro .dijitTooltipDialogPopup {
	margin-left: 8px;
}

.claro .dijitTooltipDialogPopup .label-full {
	color: #444444;
}

.dijitTooltipDialogPopup .dijitTooltipConnector {
	padding-right: 7px;
}

#dlgChangeNameId {
	width: 212px;
}

#dlgChangeNameId > .dijitTooltipContainer > .dijitTooltipContents > iframe {
	height: 50px;
}