﻿<%@ Page CodePage=65001 Language="VB" Explicit="True" Strict="true" %>
<%
	Dim ICC As Aras.Client.Core.ClientConfig = Aras.Client.Core.ClientConfig.GetServerConfig()
%>
<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="../styles/common.min.css"/>
		<link rel="stylesheet" href="../styles/main.min.css"/>
		<link rel="stylesheet" href="../javascript/include.aspx?classes=arasClaro.css">
		<link rel="stylesheet" href="../javascript/include.aspx?classes=common.css,spinner.css">
		<link rel="stylesheet" href="../javascript/ActiveItem/activeItem.css"/>
		<style>
			body {
				overflow: hidden;
			}
			/* disable default outline for focused element in Chrome */
			@supports (-webkit-appearance:none) {
				*:focus {
					outline: none
				}
			}
			.spinner, .main {
				position: absolute;
				width: 100%;
				height: 100%;
			}
			#banner{
				height: <%=ICC.BannerHeight.ToString()%>px;
			}
		</style>
		<!-- #INCLUDE FILE="include/InitialSetupHeader.aspx" -->
		<script type="text/javascript">
		//Require 'Aras/Client/Controls/Experimental/TimeZoneInfo' need for pre-caching for TimeZonesInformation.js
		require(
			[	
				'ActiveItem/activeItem',
				'dojo/date/locale',
				'Aras/Client/Controls/Experimental/MainMenu',
				'Aras/Client/Controls/Experimental/StatusBar',
				'Aras/Client/Frames/StatusBar',
				'Aras/Client/Controls/Experimental/TimeZoneInfo'
			]
		);

		onbeforeunload = function() {
			if (aras.isDirtyItems()) {
				window.onLogoutCommand();
				var rm = new ResourceManager(new Solution('core'), 'ui_resources.xml', aras.getSessionContextLanguageCode());
				return rm.getString('setup.beforeunload_warning');
			} else if (
				window.arasTabs &&
				!document.getElementById('home-tab').classList.contains('aras-tabs_active') &&
				aras.getCommonPropertyValue('exitWithoutSavingInProgress') !== true
			) {
				var rm = new ResourceManager(new Solution('core'), 'ui_resources.xml', aras.getSessionContextLanguageCode());
				return rm.getString('setup.tab_close_warning');
			}

			stopTimeBannersUpdate();
			//Onunload handler does not start in Chrome when the opener are closed.
			//As a result, save preference and logout not called.
			if (aras.Browser.isCh() && !window.opener) {
				aras.getOpenedWindowsCount(true);
				aras.logout();
			}
		};
		</script>
	</head>
	<body class="claro">
		<iframe id="tz" class="main" name="tz" frameborder="0"  style="z-index: 3" src="timeZoneDetect.html"></iframe>
		<iframe id="deepLinking" class="main" name="deepLinking" frameborder="0"  style="z-index: 2; display: none;"></iframe>
		<iframe id="main" class="main" name="main" frameborder="0" style="z-index: 1" src="login.aspx<%=System.Web.Security.AntiXss.AntiXssEncoder.HtmlEncode(qs,false)%>" ></iframe>
		<header id="header">
			<%If Not ICC.BannerUrl Is Nothing OrElse String.IsNullOrEmpty(ICC.BannerUrl.OriginalString) Then
				Response.Write("<iframe id=""banner"" style=""display: none"" src=""" + ICC.BannerUrl.OriginalString + """ scrolling=""no"" noresize=""noresize""  frameborder=""0"" framespacing=""0"" ></iframe>")
			End If%>
			<img class="header-logo" src="<%=Client_Config("branding_img")%>" alt=""/>

			<div class="profile">
				<div class="active-item" id="activeItem" style="visibility: hidden; width: 0;">
						<p class="activeItem-name" id="activeItemName"></p>
						<p class="item-id" id="itemID"><a href="#" onclick="setActiveItem();">None</a></p>
				</div>
				<img class="profile-img" id="profileImg" src="../images/DefaultAvatar.svg" alt="" />
				<p class="profile-name" id="profileName"></p>
				<p class="profile-logout"><a id="profileLogout" href="#">Logout</a></p>
			</div>

			<div class="time-wrap">
				<div id="today_corp_block" class="time-block" style="visibility:hidden;">
					<span id="today_corp_time" class="current-time"></span>
					<div id="today_corp_text" class="text">
						<h4><span aras_ui_resource_key="common.corporateTime"></span></h4>
						<span id="today_corp_date" class="date"></span>
					</div>
				</div>
				<div id="today_block" class="time-block">
					<span id="today_time" class="current-time"></span>
					<div id="today_text" class="text">
						<h4><span aras_ui_resource_key="common.localTime"></span></h4>
						<span id="today_date" class="date"></span>
					</div>
				</div>
			</div>
			<div id="main-tab" class="main-tabs aras-flex">
				<div class="aras-tabs">
					<ul>
						<li id="home-tab" class="aras-tabs_active"><span class="aras-icon-hamburger"></span></li>
					</ul>
				</div>
				<div class="aras-tabs aras-flex-grow">
					<span class="aras-tabs-arrow"></span>
					<div>
						<ul></ul>
					</div>
					<span class="aras-tabs-arrow"></span>
				</div>
				<div id="tabs-dropdown" class="aras-dropdown-container">
					<div class="tabs-button"></div>
					<div class="aras-dropdown">
					</div>
				</div>
			</div>
			<div class="menu-block" id="menulayout"></div>
			<div align="right" ><span id="today_lbl_corp" style="display: none;" aras_ui_resource_key="banner.corporate_time_html"></span></div>
			<div align="left" ><span id="today_lbl" style="display: none;" aras_ui_resource_key="banner.local_time_html"></span></div>
		</header>
		<main id="main-container">
			<div id="togglePanel" class="aras-toggle-panel aras-hide" onclick="hideOrShowTree()">
				<div class="aras-toggle-panel__toggler" title="Show Contents">
					<span class="aras-icon-arrow"></span>
				</div>
			</div>
			<div id="leading" class="aras-toggle-panel">
				<div class="aras-toggle-panel__header">
					<span aras_ui_resource_key="common.contents"></span>
					<div class="aras-toggle-panel__toggler" title="Hide" onclick="hideOrShowTree()">
						<span class="aras-icon-arrow aras-icon-arrow_left"></span>
					</div>
				</div>
			</div>
			<div class="aras-splitter" id="main-container-splitter"></div>
			<div id="center" class="aras-flex-grow">
				<iframe id="dimmer_spinner" class="disabled-spinner" src="../scripts/Spinner.html"></iframe>
				<iframe id="work" src="../scripts/blank.html" scrolling="auto" frameborder="0" style="width: 100%;height: 100%; margin-top: 1px;"></iframe>
			</div>
		</main>
		<footer id="bottom"></footer>
		<iframe id="tree" src="../scripts/mainTree.html" scrolling="no" style="display: none"></iframe>
		<iframe id="dimmer_spinner_whole_window" src="../scripts/Spinner.html"></iframe>
	</body>
</html>
