﻿.grid-section-left-column {
	display: flex;
	flex-direction: column;
}

.outlined-button .dijitIcon {
	outline: 1px solid rgb(54, 104, 177);
	outline-offset: 2px;
}

.outlined-button > .dijitButtonNode {
	padding-top: 2px !important;
}

.column-select-dropdown {
	display: inline-block;
}
.column-select-dropdown > span {
	display: inline-block;
	font-size: 1rem;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: url(../../../images/ColumnSelection.svg);
	background-size: 1.834rem;
	background-repeat: no-repeat;
	background-position: center;
	width: 1.834rem;
}
.column-select-dropdown > span::after {
	content: '';
}

.column-select-block > .column-select-block-flex {
	max-height: calc(100vh - 50px);
	display: flex;
}
.aras-toolbar__dropdown
	> .aras-dropdown
	> .aras-list
	> li
	.column-select-dropdown
	> span {
	background-position-x: 5px;
	background-position-y: 2px;
	width: 100%;
}

.aras-toolbar__dropdown
	> .aras-dropdown
	> .aras-list
	> li
	.column-select-dropdown
	> span::after {
	content: attr(title);
	text-indent: 25px;
	vertical-align: middle;
}

.aras-toolbar__dropdown
	> .aras-dropdown
	> .aras-list
	> li
	.column-select-dropdown
	> span:hover {
	background-color: transparent;
}

.column-selection,
.xclass-search-block {
	min-width: 250px;
	flex-shrink: 0;
	border: 1px solid rgb(212, 212, 212);
	display: flex;
	flex-direction: column;
}

.column-select-block {
	background: #fff;
	font-size: 1rem;
	display: flex;
	cursor: default;
}

.column-select-block .side-header {
	border-bottom: 1px solid #000;
	margin: 5px 5px 0;
	padding-bottom: 5px;
	font-weight: bold;
}

.column-select-block .buttons {
	height: 30px;
	padding: 5px 0;
	text-align: center;
	flex-shrink: 0;
}

.column-select-block .aras-grid-header {
	display: none;
}

.column-select-block .aras-grid-head-cell,
.column-select-block .aras-grid-row-cell {
	border: none;
}

.column-select-block .aras-grid-row-cell_boolean {
	text-align: left;
}

.column-select-block .checkbox-title {
	display: inline-block;
}

.column-select-block .aras-treegrid-cell-container .checkbox-title {
	display: inline-block;
}

.column-select-block
	.aras-form-boolean.mixed
	input[type='checkbox']:checked
	+ span::before,
.column-select-block
	.aras-contextMenu
	.aras-list
	> li[data-index='mixed']
	> span:before {
	width: 0rem;
	height: 0rem;
	border: 4px solid #3668b1;
	border-top-width: 4px;
	border-right-width: 4px;
	transform: none;
}

.column-select-block
	.aras-grid-row:not(.aras-grid-row_selected):not(:hover):nth-child(2n + 1) {
	background: none;
}

.column-select-block .aras-filter-list {
	border: 1px solid #505050;
	box-sizing: border-box;
}

.column-select-block .aras-filter-list input {
	border: none;
}

.column-select-block .selected-value-img {
	width: 25px;
}

.column-select-block .selected-value-img:before,
.column-select-block .selected-value-img:after,
.column-select-block .aras-filter-list-tree-label:after,
.column-select-block
	.aras-filter-list-tree
	ul
	li:last-child
	> div
	> .aras-filter-list-tree-label::after,
.column-select-block
	.aras-itemProperty-tree
	ul
	li:last-child
	> div
	> .aras-filter-list-tree-label::after {
	content: '';
	display: block;
	position: absolute;
	background-image: radial-gradient(
		circle at 0 0,
		#9c9c9c 1px,
		transparent 1px,
		transparent 100%
	);
	background-size: 2px;
}
.column-select-block .selected-value-img:before {
	background-repeat: repeat-x;
	background-position: 0 11.5px;
	height: 100%;
	left: 0.5rem;
	top: 0;
	width: 1rem;
}
.column-select-block .selected-value-img:after {
	background-size: 1px 2px;
	background-repeat: repeat-y;
	background-position: 4.5px;
	height: 25%;
	top: 7px;
	width: 1.5rem;
}
.column-select-block .aras-filter-list-tree-branch,
.column-select-block .aras-filter-list-tree-leaf {
	background: none;
}
.column-select-block .aras-filter-list-tree-label {
	padding-left: 3px;
}
.column-select-block .aras-filter-list-tree-label:after,
.column-select-block
	.aras-filter-list-tree
	ul
	li:last-child
	> div
	> .aras-filter-list-tree-label::after,
.column-select-block
	.aras-itemProperty-tree
	ul
	li:last-child
	> div
	> .aras-filter-list-tree-label::after {
	background-size: 1px 2px;
	background-repeat: repeat-y;
	background-position: 4.5px;
	height: 25%;
	left: -1.5rem;
	top: 7px;
	width: 1.5rem;
}
.column-select-block .aras-form-boolean > span,
.column-select-block .aras-contextMenu .aras-list > li > span {
	line-height: 1.3333rem;
}
.column-select-block .aras-filter-list__dropdown.delimitered > ul:after {
	content: '';
	display: block;
	position: absolute;
	top: 72px;
	height: 1px;
	width: 100%;
	border-bottom: 1px solid;
}
.column-select-block .aras-filter-list-tree-label {
	white-space: nowrap;
	padding-right: 5px;
}
.column-select-block .aras-filter-list__dropdown {
	left: auto;
	right: 0;
	min-width: 100%;
	width: auto;
}
.column-select-block .aras-grid-row:hover {
	background: none;
}
.column-select-block .xclass-search-block .aras-grid-row:hover {
	background-color: #dde7f5;
}
.column-select-block .aras-grid-row.aras-grid-row_selected,
.xclass-search-block .aras-grid-row.aras-grid-row_selected {
	background: none;
}
.column-select-block .aras-grid-active-cell,
.column-select-block .aras-grid-active-cell_showed {
	display: none;
}
.column-select-block .tree.search-mode .aras-treegrid-expand-button,
.tree.search-mode .aras-grid-row .aras-grid-row-levelpad:after {
	display: none;
}
.column-select-block .aras-treegrid-expand-button.aras-icon-minus {
	width: 0px;
	height: 2px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgb(47, 47, 47);
	border-top: none;
	transform: rotate(180deg);
}
.column-select-block .aras-filter-list .dropdown-arrow {
	background: transparent url('../../../images/dropdown-arrow.svg') no-repeat
		scroll center center;
}
.column-select-block .aras-filter-list:hover .dropdown-arrow {
	background: transparent url('../../../images/dropdown-hover.svg') no-repeat
		scroll center center;
}
.column-select-block .aras-treegrid-expand-button.aras-icon-plus {
	width: 0px;
	height: 2px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgb(47, 47, 47);
	border-top: none;
	transform: rotate(90deg);
	margin-bottom: 1px;
}
.column-select-block .aras-treegrid-expand-button.aras-icon-plus::after {
	border: none;
}
.column-select-block .column-selection .tree {
	padding: 5px;
}
.column-select-block .no-properties,
.xclass-search-block .no-result {
	text-align: center;
	flex-grow: 1;
	padding: 10px 0;
}
.column-select-block .select-all .aras-grid-row-cell {
	padding: 0 1px;
}
.column-select-block .properties-selector-block,
.search-panel {
	margin: 0 5px;
	border-bottom: 1px solid rgb(212, 212, 212);
}
.column-select-block .properties-selector-block-upper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 31px;
}
.column-select-block .properties-selector-block-upper > div {
	display: flex;
	align-items: center;
}
.column-select-block .properties-selector-block-upper label {
	flex-grow: 0;
	font-size: 12px;
	line-height: 20px;
	padding: 0 2px;
}
.column-select-block .properties-selector-block .property-types {
	width: 100px;
	margin-left: 10px;
}
.column-select-block .search-switch {
	cursor: pointer;
	display: inline-block;
	width: 16px;
	margin: 0 3px;
	text-align: center;
	background-color: rgb(255, 192, 0);
	background-clip: content-box;
	padding: 2px;
}
.column-select-block .search-switch.enabled {
	outline: 1px solid #5e86c1;
}
.column-select-block .side-header .search-block {
	display: inline-block;
	width: 115px;
	position: relative;
	border: 1px solid #d4d4d4;
	height: 24px;
	box-sizing: border-box;
	margin-left: 2px;
}
.column-select-block #searchBox {
	padding: 0 0 0 5px;
	height: 100%;
	border-width: 0;
	font-size: 12px;
	position: relative;
	width: calc(100% - 30px);
}
.xclass-search-block .selected-value-img {
	margin-left: 25px;
}
.xclass-search-block .checkbox-title {
	position: relative;
}
.xclass-search-block .tree .aras-grid-viewport {
	table-layout: auto;
	position: relative;
}
.xclass-search-block .aras-grid-row-cell {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.column-select-block .aras-contextMenu .aras-list > li {
	display: flex;
	align-items: center;
}
.column-select-block .aras-contextMenu .aras-list > li > span {
	width: 16px;
	height: 16px;
	display: block;
	margin-right: 10px;
	text-align: center;
	font-size: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.column-select-block .aras-contextMenu .aras-list > li > span:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
}
.column-select-block
	.aras-contextMenu
	.aras-list
	> li[data-index='hard_checked']
	> span::before,
.column-select-block
	.aras-contextMenu
	.aras-list
	> li[data-index='checked']
	> span::before {
	width: 0.66666667rem;
	height: 0.25rem;
	margin-top: -0.2rem;
	border: 2px solid #3668b1;
	border-top-width: 0;
	border-right-width: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.xclass-search-block .aras-form-boolean {
	margin-left: 5px;
}
.xclass-search-block .aras-form-boolean.checked span,
.xclass-search-block .aras-form-boolean.unchecked span,
.xclass-search-block .aras-form-boolean.soft_checked span,
.xclass-search-block .aras-form-boolean.soft_unchecked span,
.column-select-block .aras-contextMenu .aras-list > li > span {
	border: 1px solid #9e9e9e;
}
.xclass-search-block .aras-form-boolean.hard_checked span,
.column-select-block
	.aras-contextMenu
	.aras-list
	> li[data-index='hard_checked']
	> span {
	border: 0;
	background-color: #3668b1;
}
.xclass-search-block .aras-form-boolean.hard_unchecked span,
.column-select-block
	.aras-contextMenu
	.aras-list
	> li[data-index='hard_unchecked']
	> span {
	border: 2px solid #3668b1;
}
.xclass-search-block
	.aras-form-boolean.hard_checked
	input[type='checkbox'][type='checkbox']:checked
	+ span::before,
.column-select-block
	.aras-contextMenu
	.aras-list
	> li[data-index='hard_checked']
	> span::before {
	border: 2px solid #fff;
	border-top-width: 0;
	border-right-width: 0;
}
.xclass-search-block .aras-form-boolean.soft_checked span,
.xclass-search-block .aras-form-boolean.soft_unchecked span,
.xclass-search-block .aras-form-boolean.mixed span,
.column-select-block
	.aras-contextMenu
	.aras-list
	> li[data-index='mixed']
	> span {
	opacity: 0.4;
}
.xclass-search-block .aras-form-boolean.soft_checked span,
.xclass-search-block .aras-form-boolean.soft_unchecked span {
	cursor: default;
}
.xclass-search-block .aras-grid-row-cell > div {
	display: flex;
	align-items: center;
}
.xclass-search-block .aras-grid-row-cell .filter > input {
	display: none;
}
.xclass-search-block .aras-grid-row-cell .filter > input + span {
	display: block;
	padding: 10px;
	margin-right: 5px;
	background-image: url(../../../Images/CondAppliedEmpty.svg);
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}
.xclass-search-block .aras-grid-row-cell .filter {
	visibility: hidden;
}
.xclass-search-block .aras-grid-row-cell:hover .filter,
.xclass-search-block .aras-grid-row-cell .filter.apply-filter {
	visibility: visible;
}
.xclass-search-block
	.aras-grid-row-cell
	.filter.apply-filter
	> input:checked
	+ span {
	background-image: url(../../../Images/CondApplied.svg);
}
.search-panel {
	display: inline-flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
	height: 31px;
}
.search-panel .loupe-icon {
	position: absolute;
	background: url(../../../images/Loupe.svg);
	background-size: cover;
	right: 18px;
	padding: 10px;
	top: 2px;
}
.search {
	justify-content: space-between;
	display: inline-flex;
	border: 1px solid #ccc;
	padding: 3px;
	width: 100%;
	position: relative;
}
.search > input {
	border: none;
	width: calc(100% - 40px);
}
.column-select-block:focus,
.search > input:focus {
	outline: none;
}
.dropdown-filter {
	cursor: pointer;
}
.search-filter {
	right: -5px;
	top: 8px;
	position: absolute;
	z-index: 10;
	background-color: #fff;
	border: 1px solid #9a9a9a;
	list-style: none;
	cursor: pointer;
	padding: 5px 10px;
	outline: none;
}
.search-filter > li {
	position: relative;
	padding-left: 20px;
}
.search-filter > li:hover:before,
.search-filter > li.selected:before {
	content: '';
	position: absolute;
	background: #2b7dc3;
	padding: 3px;
	border-radius: 3px;
	left: 0px;
	top: 7px;
	opacity: 0.4;
}
.search-filter > li.selected:before {
	opacity: 1;
}
.dropdown-btn {
	width: 15px;
	height: 17px;
}
.dropdown-btn > span {
	border: 4px solid transparent;
	border-top-color: #6d6d6d;
	border-bottom: 0;
	position: absolute;
	right: 7px;
	top: 10px;
}
.logic-filter {
	display: block;
	margin-left: 3px;
	padding: 13px;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}
.logic-filter.condition-or {
	background-image: url(../../../Images/OperatorOR.svg);
}
.logic-filter.condition-and {
	background-image: url(../../../Images/OperatorAND.svg);
}
.filtered.hidden {
	display: none;
}
.filtered {
	background: #f7ecc1;
	padding: 5px;
	margin: 0 5px;
	display: inline-flex;
	flex-shrink: 0;
	justify-content: space-between;
}
.filtered span:last-child {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}
.xClassBar-toggle-btn {
	padding: 11px;
	cursor: pointer;
}
.xclass-search-block .checkbox-title mark {
	background-color: #f7ecc1;
}
.xClassBar-toggle-btn {
	background: url('../../../Images/xClassBar.svg');
	background-size: cover;
	margin: 0 3px;
}
.xClassBar-toggle-btn.aras-toolbar__toggle-button {
	background-color: #dde7f5;
}
.column-select-block__select-all_invisible {
	visibility: hidden;
}
#column_select_block label.mixed input[type='checkbox'] + span {
	display: flex;
	align-items: center;
	justify-content: center;
}
#column_select_block label.mixed input[type='checkbox'] + span::before {
	margin-top: 0;
}
