﻿#xClassBarContainer .aras-toolbar {
	border: none;
	height: auto;
	padding: 0;
}

.xclass-bar__container {
	margin: 0 9px;
	height: 2.33rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.xclass-bar__container-hidden {
	display: none;
}

#xClassBarPlaceholder:not(.hidden) ~ .aras-grid .aras-grid-head-wrapper {
	border-top: none;
}

#xClassBarPlaceholder:not(.hidden)
	~ .aras-grid
	.aras-grid-head-wrapper
	.aras-grid-head {
	border-top: 1px solid #cccccc;
}

#searchPlaceholder[style='display: none;']
	+ #xClassBarPlaceholder:not(.hidden) {
	border-top: 1px solid #cccccc;
}

span.xclass-bar-item {
	padding: 0 3px 1px;
	background-color: #f8eec0;
	margin-right: 5px;
}

#xClassBarPlaceholder .xclass-criteria-panel {
	display: flex;
	justify-content: space-between;
}

#xClassBarPlaceholder .xclass-criteria-panel.hidden {
	display: none;
}

#xClassBarPlaceholder .criteria-text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: default;
}

#xClassBarPlaceholder .criteria-text mark {
	background-color: #2067af;
	color: #fff;
	padding: 0 3px 1px;
	display: inline-block;
}

#xClassBarPlaceholder .clear-xclass-criteria {
	margin-right: 10px;
	margin-top: 5px;
	padding: 0 5px;
	cursor: pointer;
}

#xClassBarPlaceholder .clear-xclass-criteria:before,
#xClassBarPlaceholder .clear-xclass-criteria:after {
	content: ' ';
	height: 11px;
	width: 1px;
	position: absolute;
	background-color: #333;
}

#xClassBarPlaceholder .clear-xclass-criteria:before {
	transform: rotate(45deg);
}

#xClassBarPlaceholder .clear-xclass-criteria:after {
	transform: rotate(-45deg);
}
