﻿/**************** polyfill start ****************/
dialog.polyfilled {
	position: absolute;
	left: 0px;
	right: 0px;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content;
	margin: auto;
	/*border: solid;*/
	/*padding: 1em;*/
	background: white;
	display: none;
}

dialog.polyfilled[open] {
	display: block;
}

dialog.polyfilled + .backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.1);
}

/* for small devices, modal dialogs go full-screen */
@media screen and (max-width: 540px) {
	dialog.polyfilled[_polyfill_modal] {
		/* TODO: implement */
		top: 0;
		width: auto;
		margin: 1em;
	}
}

._dialog_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/**************** polyfill end ****************/

dialog.arasDialog {
	padding: 0;
	max-height: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

dialog.arasDialog + .backdrop {
	background: #fff none repeat scroll 0% 0%;
	opacity: 0.5;
}

dialog.arasDialog {
	border: 1px solid #3767b1;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

/* only for IE11(Win7) */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	dialog.arasDialog {
		transform: translate(1px, 1px);
	}
}

dialog.arasDialog.arasDialog-maximized {
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	top: 10px;
}

dialog.arasDialog-moving .arasDialog-titleBar .arasDialog-title {
	cursor: move;
}

dialog.arasDialog-moving .arasDialog-content::before {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	opacity: 0;
}

dialog.arasDialog .arasDialog-titleBar {
	background-color: #3768b1;
	background-image: none;
	background-repeat: repeat-x;
	border: 1px solid #3768b1;
	position: relative;
}

dialog.arasDialog .arasDialog-titleBar .arasDialog-title {
	color: #fff;
	font-size: 13px;
	line-height: 24px;
	min-height: 24px; /* when there is no title then height of titleBar would become 0px without min-height parameter*/
	padding: 0 7px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}

dialog.arasDialog .arasDialog-titleBar .arasDialog-maximizeButton,
dialog.arasDialog .arasDialog-titleBar .arasDialog-closeButton {
	position: relative;
	float: right;
	top: 3px;
	cursor: pointer;
	text-align: center;
	color: rgb(221, 231, 245);
	border: 1px solid transparent;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 4px;
}

dialog.arasDialog .arasDialog-titleBar .arasDialog-maximizeButton:hover,
dialog.arasDialog .arasDialog-titleBar .arasDialog-closeButton:hover {
	border: 1px solid rgb(221, 231, 245);
}

dialog.arasDialog .arasDialog-content.arasDialog-content-iframe {
	/*26px - full height of titleBar (24px is a line-height + 1px border in a top and bottom)*/
	height: calc(100% - 26px);
}

dialog.arasDialog-moved {
	margin: 0;
}

.arasDialog-iframe {
	width: 100%;
	height: 100%;
	border-width: 0;
}

/*-------------------------  dialog types ---------------------------------*/

dialog.whereUsed {
	width: 600px;
	height: 400px;
}

dialog.searchDialog {
	width: 700px;
	height: 475px;
}

dialog.imageBrowser {
	width: 600px;
	height: 400px;
}

dialog.date {
	width: 250px;
	height: 325px;
}

dialog.htmlEditorDialog {
	width: 820px;
	height: 500px;
}

dialog.revisionsDialog {
	width: 500px;
	height: 300px;
}

dialog.manageFileProperty {
	width: 420px;
	height: 163px;
	padding-bottom: 0px;
}

dialog.text {
	width: 600px;
	height: 450px;
}

dialog.color {
	width: 560px;
	height: 220px;
}

/*-------------------------  end of dialog types --------------------------*/
