﻿.aras-grid-row__cut {
	color: #b0b0b0;
}

.aras-grid-row__critical {
	color: #ff0000;
}

.aras-grid-row-cell_disabled {
	opacity: 0.5;
}

.aras-grid-row-animated-toggle td.aras-grid-row-cell_disabled {
	animation: none;
}

.aras-grid-head-cell {
	cursor: default;
}

.aras-grid-ddcontainer {
	cursor: ew-resize;
	cursor: grabbing;
	display: none;
	left: 0;
	position: absolute;
	width: 100%;
}

.aras-grid-ddcontainer_draggable-row {
	background: #5e86c1;
	border: 1px solid #5e86c1;
	display: block;
	opacity: 0.2;
}

.aras-grid-ddline {
	display: none;
	left: 0;
	position: absolute;
	width: 100%;
}

.aras-grid-ddline_draggable-row {
	border: 1px solid #505050;
	display: block;
	height: 0;
}

.aras-grid-row-cell__icon img,
.aras-grid-row-cell__icon svg {
	display: inline;
	max-height: 16px;
	max-width: 16px;
	padding-right: 7px;
	vertical-align: text-bottom;
}

.aras-toolbar {
	border: none;
}

.aras-grid-header {
	border-top: none;
}
