﻿#helpWindowIcon {
    position:absolute;
    top:10px;
    right:12px;

    background-image: url("images/help.png");

    width:32px;
    height:32px;

    z-index:1000;

    display: none;
}

#helpWindowContent {
    position: absolute;
    top:45px;
    right: 12px;
    z-index:100000;

    background-color: rgb(255,255,255) ;
    border: 2px solid black;
    border-radius:3px;

    padding: 5px;

    width:500px;

    font-size:12px;
    font-family:Arial;

    display:none;
}

.help-title {
    margin-bottom:5px;
    width:100%;
    text-align:center;

    font-weight:bold;
    font-size:24px;
}

.help-subheading {
    font-weight:bold;
    font-size:14px;
    margin-bottom:3px;
}

.help-copyright {
    width:100%;
    text-align:center;
}

.help-version-info {
    position:relative;
    font-size:10px;
    height:14px;
}

.help-viewer-version {
    position:absolute;
    left:0;
}

.help-file-version {
    position:absolute;
    right:0;
}