#modelBrowserHeader {
    background: linear-gradient(to bottom, rgba(206,206,206, 0.5) 0%,rgba(120,120,120, 0.5) 100%); /* W3C */
    padding: 5px 5px;
    margin-bottom: 5px;
    cursor: move;
    border: 1px solid #aaaaaa;
	background: rgba(180,180,180,1);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 18px;
}

.modelBrowserTitle {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #222222;

}

#modelBrowserMinimize {
    position:absolute;
    right:5px;
    top: 13px;
    width:15px;
    height: 3px;
    background-color: #222222;
    margin-right:15px;
    cursor: pointer;
}

#modelTree {
    background:transparent;
    font-family:Arial;
}

#modelBrowserWindow {
    position: absolute;
    width: 250px;
    height: 500px;

    border-radius: 4px;
    top: 75px;
    left: 30px;
    min-width: 175px;
    z-index: 5000;

	background: rgb(255,255,255);
	border-style:solid;
	border-width:1px;


}

#modelBrowserContent {
    background: transparent;
    overflow-y:auto;
    height: 464px;
    font-size:12px;
}

