.noteButton {
	border: 1px solid black;
	width:20px; 
	height: 20px;
	position: absolute;
	left: 220px;
}

.noteButton.blue {
	background: rgba(0,0,255,1);
	top:10px; 
}

.noteButton.red {
	background: rgba(255,0,0,1); 
	top:33px; 
}

.noteButton.green {
	background: rgba(0,255,0,1); 
	top:56px; 
	
}

.noteButton.white {
	background: rgba(255,255,255,1);
	top:79px;
}

.noteButton.black {
	background: rgba(0,0,0,1);
	top:102px;
}

.noteButton.trash {
	background: url('../../viewer_images/trash2.png') center top no-repeat;
    background-position-y: 1px;
	top:125px;
}

.noteArea {
	border:1px solid black; 
	border-radius: 2px; 
	position: absolute; 
	top:10px; 
	left:5px; 
	width:207px; 
	height:110px;  
	font-size:12px; 
	font-family:verdana;
}

.noteOwner {
    position: absolute; 
    top: 128px; 
    left:8px;
}

#noteMarkup {
    margin-left: 20px;
    margin-top: -25px;

    width: 248px;
    height: 150px;
    z-index: 1000;
    position: absolute;
    background: rgba(180,180,180,0.8);
    border: 1px solid black;
    border-radius: 6px;
}

/* these styles provide the arrow for the notes, they should probably be renamed as to not be so confusing to locate*/

.draggable    
{
	width: 260px; height: 150px; z-index: 1000;
    position: absolute;
    background: rgba(180,180,180,0.8);
	border: 1px solid black;
    border-radius:6px;   	             
    border-style:solid;	             
	}
	
.draggable:after, .draggable:before 
{
	border: solid transparent;
	content: ' ';
	height: 0;
	left: -20px;
	position: absolute;
	width: 0;
}
	
.draggable:after 
{
	border-width: 11px;
	border-right-color: rgba(190,190,190,1.0);
	top: 13px;
	left: -21px;
}

.draggable:before
{
	border-width: 12px;
	border-right-color: #000;
	top: 12px;
	left: -24px;
}