.propertyWindow  
{
    width: 275px; 
    height: 203px; 
    z-index: 10000;
	position: absolute;
	background: rgba(100,100,100,0.8);
	border: 1px solid black;

    border-radius:6px;  
    overflow:hidden; 	             
    border-style:solid;	             

    background: rgba(0,0,0,0);
}

.propertyWindow .propertyWindowHeader  
{
    font-family: arial; 
    font-size: 14px; 
    font-weight: bold;
	cursor:move;

    padding: 8px 0px 5px 5px;
    background: rgba(180,180,180,1);
   	height: 18px;


}

.propertyWindow .propertyArea {
    padding-top: 5px;
    height: 143px;
    font-family: Verdana;
    font-size: 11px;
    background-color:rgb(255,255,255);
}

.propertyWindow .property {
    margin-bottom: 7px;
    padding-left: 5px;
    line-height: 13px; /*this is temporary*/
}

.propertyWindow .property .propertyName {
    display: inline-block;
    font-weight: bold;
}


.propertyWindow .propertyArea .property .propertyValue {
    display: inline-block;
    word-wrap: break-word;
}

.propertyWindow .propertyWindowFooter
{
	background: rgb(220,220,220);    
    padding-left: 4px;    
    height:33px;   
    position:relative;
    padding-top:1px;
    
}

.propertyWindow .propertyWindowFooter .propertyButton {
    font-size: 10px; 
    line-height: 0px; 
    width: 86px; 
    height: 20px; 
    text-align: center;
    padding:0;

    background-position: 0 0;
    background-color: #CCC;
    border-color: #bbb;
    color: #444;
    text-shadow: 1px 1px 1px rgba(255,255,255,.8);
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
    box-shadow: 1px 1px 1px rgba(0,0,0,.25);
    margin: 0;
	margin-top:5;
    border-width: 1px;
    border-style: solid;
}

.propertyWindow .propertyWindowFooter .propertyButton:hover {
background-color: #bbb;
color: #444;
}