.hoops-ui-window {
    z-index: 10000;
	position: absolute;
	background: rgba(100,100,100,0.8);
	border: 1px solid black;

    border-radius:6px;  
    overflow:hidden; 	             
    border-style:solid;	             

    background: rgba(0,0,0,0);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hoops-ui-window-header {
    font-family: arial; 
    font-size: 14px; 
    font-weight: bold;

    padding: 8px 0px 5px 5px;
    background: rgba(180,180,180,1);
   	height: 18px;
}

.hoops-ui-window-body {
    padding-top: 5px;
    font-family: Verdana;
    
    border-bottom: 1px solid gray;
    background-color: white;
    padding: 8px 11px 5px 11px;
}

.hoops-ui-window-footer {
    padding: 8px 0px 5px 5px;
    background-color:white;
    height:38px;
}

.hoops-ui-footer-buttons {
    position:relative;
    float: right;
    margin-right:11px;
}

.no-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.mouseOperatorNavigating, .no-mouse-events{
    pointer-events : none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}