#viewer-settings-dialog {
    display:none;
    z-index:21000;
}

#viewer-settings-dialog table {
    border-collapse:separate;
    border-spacing:0 9px;
    font-size:13px;
    width: 475px;
}

#viewer-settings-dialog table td.right {
    padding-left:10px;
}

.viewersettings-ui-dialog {
    font-size:12px;
    opacity: 1.0;
}

.viewersettings-ui-dialog .ui-dialog-titlebar-close {
  visibility: hidden;
}

#sliderBox {
    width:150px;
    display:inline-block;
    position:relative;
}

#cullingSlider, #qualitySlider {
    background: lightgrey;
}

.culling-text {
    display:inline-block;
    position:relative;
    top: -10px;
    margin-right:25px;
    font-size:13px;
}

.agressive-text {
    position:absolute;
    right:0;
}

.settings-colum-top {
    height: 145px;
}

.settings-colum-top.remote {
    height: 105px;
}

.slider-hints {
    margin-top:10px;
}

.moderate-text {
    position: absolute;
    left: 32px;
}

.medium-text {
    position: absolute;
    left: 50px;
}

.slider-hint-text {
    font-size:10px;
}

#viewer-settings-dialog {
    display: none;
    margin:auto;
    width: 500px;
}

#selection-mode-label {
   width:110px;
}

.settings-column {
width: 50%;
vertical-align: top;
}

.rightwrapper {
position: relative;
left: 35px;
}

.settings-block {
margin-bottom: 15px;
}

#measure-settings-label {
    margin-right: 67px;
}

#projection-mode-label {
    margin-right: 5px;
}

.settings-group-header {
margin-bottom:4px;
}

.settings-group div {
margin-bottom: 7px;
}

.settings-group {
    padding:3px;
    border: 1px solid gray;
    margin-bottom:15px;
}

.settings-group.left {
    width:225px;
}

.settings-group.right {
    width:185px;
}

.hoops-ui-window-body .settings-group label {
display: inline-block;
}

.hoops-ui-window-body .settings-group label.left {
width:195px;
}

.hoops-ui-window-body .settings-group label.right {
width:150px;
}

.settings-column.left {
    text-align: left;
}



#viewer-settings-ok-button, #viewer-settings-cancel-button {
    font-size: 13px;
}