#theCanvas
{
    position: absolute;
    border: 0px solid black;
    left: -1px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-width: 0px;
    border-style: solid;
    border-bottom-color: #aaa;
    border-right-color: #aaa;
    border-top-color: #ddd;
    border-left-color: #ddd;
    border-radius: 0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.theCanvasSVG
{
    position: absolute;
	width: 100%;				
	height: 100%;				
}

body {
    margin: 0;
}

html { 
  -ms-touch-action: none; /* Direct all pointer events to JavaScript code. */
  -ms-content-zooming: none
}

#poweredby {
    text-align: right; 
    font-size: 10px; 
    position: absolute; 
    z-index: 1; 
    right: 10px;
    bottom: 0px; 
    width: 400px; 
    height: 20px; 
    background-color: transparent;
}

#logo-image {
    z-index: 1000; 
    position: absolute; 
    top: 20px; 
    left: 40px
}