body {
    padding: 0;
    margin:0;
}

.viewport {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
}

#logo-image { /*common style*/
    position:absolute;
    top:20px;
    left:40px;
    z-index: 100;
}

#help-image { /*common style*/
    z-index: 1000; 
    position: absolute; 
    top: 10px; 
    right: 12px
}

#powered-by-communicator { /*common style*/
    position:absolute;
    z-index: 100;
    font-size: 10px;
    text-align: right;
    right: 10px;
    bottom: 10px;
    font-family: arial;
}

#operatorInfo { /*common style*/
    text-align: right; 
    color:yellow; 
    font-size: 14px; 
    position: absolute; 
    z-index: 1; 
    right: 50px;
    top: 10px; 
    width: 400px; 
    height: 20px; 
    background-color: transparent;
    font-family: arial;
}

#help-window  /*common style*/
{
    width: 500px; 
    height: 360px; 
    top: 5px; 
    right: 10px; 
    z-index: 1;
	position: absolute;
	background: rgba(100,100,100,0.8);
	border: 1px solid black;
	background:rgba(255,255,255,0.8); 

    border-radius:6px;   	
    display: none;             
}

#help-window {
    position:absolute;
    display: none;
}

/* Shared view styling */

#theCanvasThree
{
    position: absolute;
    opacity:1;
    z-index:100;
}

#screen {
    position: absolute; 
    font-family: Segoe UI, Verdana, Arial, Sans-Serif; 
	font-size: 13px;
    width: 100%;
    height: 100%; 	
}

#content {
    width: 100%;
    height: 100%; 
    border: 0;
    margin: 0;
    padding: 0;
}