﻿@{
	Layout = "_baseLayout.cshtml";
	bool hideMenu = ViewBag.HideMenu ?? false;
	bool hideToolbar = ViewBag.HideToolbar ?? false;
}
@section init_window
{
	@if (IsSectionDefined("init_window"))
	{
		@RenderSection("init_window")
	}
	else
	{
		<script>
			var nativeClose = window.close; //need for IE
			var nativeFocus = window.focus; //need for IE
			var nativeParent = window.parent; //need for IE
		</script>
		<script>
			var paramObjectName = window.name + '_params';
			var close;
			var focus;
			var parent = window;
			if (window.frameElement) {

				if(!window.opener) {
					window.opener = nativeParent;
				}

				var arasTabsobj = window.opener.arasTabs;
				arasTabsobj.setTitleTabWithFrame(window);

				focus = function() {
					arasTabsobj.selectTab(this.frameElement.id);
				};

				close = function (callback) {
					if (!callback) {
						arasTabsobj.removeTab(this.frameElement.id);
						return;
					}

					if (aras.Browser.isIe() && window.getUnsavedFiles && window.getUnsavedFiles().length > 0 && item.getAttribute('action') !== 'skip') {
						var dialogParams = {
							aras: aras,
								buttons: {
									btnYes: aras.getResource('', 'common.ok'),
									btnCancel: aras.getResource('', 'common.cancel')
								},
								dialogWidth: 300,
								dialogHeight: 200,
								center: true,
								content: 'groupChgsDialog.html',
								message: aras.getResource('', 'file_management.files_will_be_lost')
						};
						ArasModules.Dialog.show('iframe', dialogParams)
												.promise
												.then(function(checkedBtn) {
													if (checkedBtn === 'btnYes') {
														removeAllUnsavedFiles();
														callback(true);
													} else {
														callback(false);
													}
												})
					} else {
						callback(true);
					}
				};
			} else {
				close = nativeClose;
				focus = nativeFocus;
				// setting title by document.write to disable IE security sideeffect, when page URL displayed instead of title
				document.write('<title>' + (window.opener[paramObjectName].title?window.opener[paramObjectName].title: '') + '</title>');
			}

			window.addEventListener("unload", function(){ if (window.aras && window.itemID) { window.aras.uiUnregWindowEx(window.itemID); }});
		</script>
		if (IsSectionDefined("style"))
		{
			@RenderSection("style")
		}
		else
		{
			<style type="text/css">
				@@import "@Url.ContentWithSalt("~/javascript/include.aspx?classes=arasClaro.css,common.css,discussion.css,spinner.css,common.min.css,_layout.css")";
			</style>
		}
		<script type="text/javascript" id="ScriptSet1" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=ArasModules,ScriptSet1,TearOffMenuControllerNoCUI,pageReturnBlocker")"></script>
		<script>
			var aras = new Aras(window.opener[paramObjectName].aras);
			var viewType = window.opener[paramObjectName].viewType;
			var windowReadyObject = window.opener[paramObjectName].windowReadyObject;
			ArasModules.intl.locale = aras.getSessionContextLocale();
		</script>
		<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=/dojo.js")" data-dojo-config="@(ViewBag.syncMode == null ? "async: true," : "") baseUrl:'@Url.ContentWithSalt("~/javascript/dojo")'"></script>
		<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/dojo/layout.js")"></script>
		<script>
			ModulesManager.using(['aras.innovator.CUI/ConfigurableUI'], false).then(function (ConfigurableUI) {
				window.cui = new ConfigurableUI();
			});
		</script>
	}
}
@section init_widgets
{
	@if (IsSectionDefined("init_widgets"))
	{
		@RenderSection("init_widgets")
	}
	else
	{
		<script type="text/javascript">
			require(["dojo/parser", "dijit/dijit", "Modules/aras.innovator.core.Core/Scripts/Classes/WidgetLoader", "dojo/domReady!", "Aras/Client/Controls/Experimental/StatusBar"],
				function (parser, dijit, WidgetLoader) {
					parser.parse({ noStart: true }).then(function () {
						var events = {
							onLoadWidgets: document.createEvent("Event"),
							onBeforeLoadWidgets: document.createEvent("Event")
						};
						events.onLoadWidgets.initEvent("loadWidgets", true, false);
						events.onBeforeLoadWidgets.initEvent("beforeLoadWidgets", true, false);

						document.dispatchEvent(events.onBeforeLoadWidgets);
						var widgetLoader = new WidgetLoader(dijit.byId('CenterBorderContainer'));
						if (window.startupSequence)
						{
							for (var widgetIndex = 0, widgetSequenceLength = window.startupSequence.length; widgetIndex < widgetSequenceLength; widgetIndex++)
							{
								var widget = dijit.byId(window.startupSequence[widgetIndex]);
								widgetLoader.register(widget);
							}
						}

						window.tearOffMenuController = new TearOffMenuController({ view: viewType, aras: aras });
						@if (!hideToolbar) 
						{
							<text>
								window.tearOffMenuController.requireToolbar();
								window.tearOffMenuController.when('ToolbarLoaded').then(function(control) {
									window.tearOffMenuController.initToolbar(control, 'TearoffWindowToolbar');
								});
							</text>
						}
						@if (!hideMenu)
						{
							<text>
								window.tearOffMenuController.requireMainMenu();
								window.tearOffMenuController.when('MainMenuLoaded').then(function(control) {
									window.tearOffMenuController.initMainMenu(control, 'TearoffWindowMainMenu');
								});
							</text>
						}

						return widgetLoader.start().then(function () {
							window.tearOffMenuController.initController();
							//compatibility code
							clientControlsFactory.createControl("Aras.Client.Frames.TearOffMenu", { tearOffMenuController: window.tearOffMenuController }, function (control) {
								document.dispatchEvent(events.onLoadWidgets);
							});
						});
					});
				});
		</script>
	}
}
@section header
{
		@RenderSection("header", false)
}
@section load_widgets
{
	@if (IsSectionDefined("load_widgets"))
	{
		@RenderSection("load_widgets")
	}
	else
	{
		<script type="text/javascript">
			(function () {
				var loadWidgetsListener = function () {
					window.windowReadyObject.resolve(window);
					var widgets = dijit.findWidgets(document.getElementById('BorderContainer'));
					widgets.forEach(function(widget) {
						if (widget.startup && !widget.isLoaded) {
							widget.startup();
						}
					});
					var statusbarDijit = dijit.byId('bottom_statusBar');
					if(statusbarDijit){
						statusbarDijit.startup();
					}
				};

				document.addEventListener("loadWidgets", loadWidgetsListener);

				// We need to remove listener before the window will be closed
				// because used "dojo.emit" which use own inner events without
				// handlers and IE will try to use handler from another registered event
				window.addEventListener("beforeunload", function () {
					document.removeEventListener("loadWidgets", loadWidgetsListener);
				}, false);
			})();
		</script>
		<base href="@Url.ContentWithSalt("~/scripts/")">
	}
}
@section body
{
	@if (IsSectionDefined("body"))
	{
		@RenderSection("body")
	}
	else
	{
		<iframe id="dimmer_spinner" src="@Url.ContentWithSalt("~/scripts/spinner.html")"></iframe>
		<div id="top"></div>
		<div id="BorderContainer" class="aras-flex" style="height: calc(100% - 76px)">
			<div id="leftSidebarContentPane"></div>
			<div id="center" class="aras-flex-grow">
				@RenderSection("center", false)
			</div>
			<div id="ssvc-splitter" class="aras-splitter aras-hide"></div>
			<div id="rightSidebarContentPane" class="aras-hide" style="min-width: 350px; width: 350px"></div>
		</div>
		<div id="bottom" style="height: 24px;">
			<div data-dojo-type="Aras/Client/Controls/Experimental/StatusBar" data-dojo-props="aras: aras, resourceUrl: aras.getI18NXMLResource('tabview_statusbar.xml', aras.getBaseURL())" id="bottom_statusBar">
				<script type="dojo/connect" data-dojo-event="startup">
					//compatibility code
					clientControlsFactory.createControl("Aras.Client.Frames.StatusBar", {aras: aras, statusbar: this}, function(control)
					{
						window.statusbar = control;
						control.statusbar.domNode.addEventListener('click', function(event) {
							event.target.dispatchEvent(new CustomEvent('GetAndUpdatePageSizeAndMaxRecords', {bubbles: true}));
						})
					});
				</script>
			</div>
		</div>
		<script>
			window.ArasModules.splitter(document.getElementById('ssvc-splitter'));
		</script>
	}
}
