﻿.DialogContainer {
	background: #fff;
	border: 1px solid #9e9e9e;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	color: #505050;
	display: block;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	overflow: visible;
	z-index: 11111 !important;
}

.DialogContainer .DialogTitleBar {
	background-color: #828282;
	border: 0;
	cursor: move;
	outline: 0 none;
	height: 20px;
	padding: 0;
	pointer-events: auto;
}

.DialogContainer .DialogTitleBarImage {
	background: url('../../../images/DialogHeader.png') no-repeat left center,
		#828282;
	display: inline-block;
	width: 28px;
	height: 20px;
}

.DialogContainer .DialogTitleBarText {
	background-color: #828282;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	padding: 4px 0;
	position: absolute;
	top: 0;
	left: 10px;
}

.DialogContainer .DialogTitleBar.Pallete .DialogTitleBarText {
	padding: 3px 6px;
}

.DialogContainer .DialogTitleBar .DialogCloseIcon {
	background-image: url('../../../images/CloseDialogIcon.png');
	background-repeat: no-repeat;
	background-position: 0;
	cursor: pointer;
	height: 12px;
	position: absolute;
	pointer-events: initial;
	right: 0;
	top: 0;
	outline: 0;
	padding: 4px 4px 4px 0;
	vertical-align: middle;
	width: 12px;
}

.DialogContainer .DialogPaneContent {
	background: #ffffff;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: #9e9e9e;
	display: inline-block;
	font-size: 12px;
	padding: 0;
	white-space: nowrap;
}

.DialogContainer .DialogPaneContent .ComparePalleteRow {
	display: table-row;
}

.DialogContainer .DialogPaneContent .ComparePalleteRow .DialogButton {
	background-color: #fff;
	border-color: #9e9e9e;
	border-style: solid;
	border-width: 0;
	color: #6e6e6e;
	cursor: pointer;
	display: table-cell;
	font-size: 0;
	text-decoration: none;
	z-index: 1000;
}

.DialogContainer .DialogPaneContent .ComparePalleteRow .DialogButton span {
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	color: #6e6e6e;
	font-size: 0;
	text-decoration: none;
	margin: 6px;
	position: relative;
	display: inline-block;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	z-index: 1000;
	width: 26px;
	height: 26px;
}

.DialogContainer .Blue {
	background-color: #3668b1;
	border: 0;
	color: #fff;
	cursor: pointer;
	font: message-box;
	height: 22px;
	line-height: 22px;
	padding: 0 15px;
	margin: 0 10px;
	display: inline-block;
}

.DialogContainer .Blue:hover {
	background-color: #5789d0;
}

.DialogContainer .Blue[disabled='disabled'] {
	background-color: #c2d1e8;
	cursor: default;
}

.DialogContainer .Grey {
	background-color: #595959;
	border: 0;
	color: #fff;
	cursor: pointer;
	font: message-box;
	height: 22px;
	line-height: 22px;
	padding: 0 20px;
	margin: 10px;
	display: inline-block;
}

.DialogContainer .DialogPaneContent span[data-type='readonly_input'] {
	border: 1px solid #505050;
	color: #505050;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	vertical-align: top;
	text-align: left;
	padding: 0 5px;
	width: 65px;
}

.DialogContainer .DialogPaneContent span[data-type='readonly_input'].Disabled,
.DialogContainer .DialogPaneContent .MoreButton.Disabled,
.DialogContainer .DialogPaneContent .Select.Disabled {
	background-color: #e5e5e5;
	border: 1px solid #bcbcbc;
}

.DialogContainer .DialogPaneContent #straightLine {
	width: 161px;
}

.DialogContainer .DialogPaneContent .Hr {
	height: 1px;
	width: 100%;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: #dedede;
}

.DialogContainer .DialogPaneContent .CalculatedFields.Disabled {
	color: #b3b3b3;
	font-style: italic;
}

.DialogContainer
	.DialogPaneContent
	.CalculatedFields.Disabled
	span[data-type='readonly_input'] {
	border-color: #b3b3b3;
}

.DialogPaneContent .LayerContainer {
	width: 240px;
	height: 282px;
	max-height: 282px;
	max-width: 240px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.DialogPaneContent .LayerContainer .Layer {
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #dedede;
	padding: 5px 10px;
}

.DialogPaneContent .Checkbox,
.dijitDialogPaneContent .Checkbox,
.DialogPaneContent .Checkbox.Blue,
.dijitDialogPaneContent .Checkbox.Blue {
	background-image: url('../../../images/Checkbox.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	border: 0;
	display: inline-block;
	height: 14px;
	width: 14px;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.DialogPaneContent .Checkbox[checked='checked'],
.dijitDialogPaneContent .Checkbox[checked='checked'] {
	background-position: 0 -14px;
}

.DialogPaneContent .Checkbox[checked='checked'].Blue,
.dijitDialogPaneContent .Checkbox[checked='checked'].Blue {
	background-position: 0 -28px;
}

.DialogPaneContent .RadioButton {
	background-image: url('../../../images/Radiobutton.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	border: 0;
	display: inline-block;
	height: 16px;
	width: 16px;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.DialogPaneContent .RadioButton[checked='checked'] {
	background-position: 0 -16px;
}

.DialogPaneContent .Text,
.dijitDialogPaneContent .Text {
	cursor: default;
	display: inline-block;
	padding: 0 10px;
	vertical-align: middle;
}

.DialogContainer .LayersPanel {
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #dedede;
	padding: 5px 10px;
}

.DialogContainer .ConfirmContainer {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #dedede;
	padding: 5px 10px;
	text-align: center;
}

.DialogContainer .ConfirmContainer #confirmButton {
	margin: 0;
}

.DialogContainer .LinkButton {
	color: #3769b2;
	margin: 0;
	text-decoration: underline;
	cursor: pointer;
	padding: 0 10px;
	vertical-align: middle;
}

.DialogContainer .LinkButton[disabled='disabled'] {
	color: #cdcdcd;
}

.DialogContainer #resetLayersButton {
	position: absolute;
	right: 0;
}

.DialogContainer .Checkbox {
	margin: 4px 0;
}

.DialogContainer .MeasureTitle {
	padding: 10px;
}

.DialogContainer .DialogPaneContent > div div.Delete {
	background: url('../../../images/Delete.svg');
	background-size: 100% 100%;
	border: 0;
	height: 24px;
	width: 24px;
}

.CompareContent {
	min-height: 240px;
	overflow: hidden;
	width: 360px;
}

tr.CompareDialogFileControl {
	vertical-align: middle;
}

.DialogContainer
	.DialogPaneContent
	.CompareContent
	tr.CompareDialogFileControl
	td {
	padding: 0;
}

.CompareDialogFileControl img {
	padding: 10px 10px 7px 0;
	width: 40px;
	height: 40px;
}

.CompareContent .CompareFileInfo {
	display: inline-block;
	padding-right: 40px;
	white-space: normal;
	width: 200px;
}

.CompareContent .DeletedFileInfo {
	color: #b3b3b3;
	font-style: italic;
	padding-right: 40px;
	white-space: normal;
	width: 200px;
}

.CompareContent button.CompareDelete {
	background-image: url('../../../images/DeleteItem.svg');
	background-color: #fff;
	background-size: 100% 100%;
	border: 1px solid #737373;
	cursor: pointer;
	width: 40px;
	height: 40px;
	padding: 5px;
}

.CompareContent button.CompareRevert {
	background-image: url('../../../images/Rollback.svg');
	background-color: #fff;
	background-size: cover;
	border: 1px solid #737373;
	cursor: pointer;
	width: 40px;
	height: 40px;
	padding: 5px;
}

.CompareContent .CompareTitle,
.CompareContent .OrBlock {
	text-align: center;
	margin: 10px;
}

.CompareContent .CompareTitle {
	margin-top: 0;
}

.CompareContent .DifferentVersion {
	border: 1px solid #737373;
	margin: 0 15px;
	padding: 10px;
}

.CompareContent .DifferentVersion .ButtonContainer .Blue {
	margin: 15px 15px 5px;
}

.CompareContent .AnotherItem {
	border: 1px solid #737373;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	margin: 0 15px 15px;
	vertical-align: middle;
}

.CompareContent .AnotherItem img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.CompareContent .AnotherItem span {
	vertical-align: middle;
}

.CompareContent .ButtonContainer {
	text-align: center;
}

.CompareContent #buttonsContainer {
	margin-top: 70px;
}

.DialogContainer .DialogPaneContent .Select {
	display: inline-block;
	height: 17px;
	text-align: left;
	position: relative;
}

.DialogContainer .DialogPaneContent .SelectedText {
	background: url('../../../images/dropdown-arrow.svg') no-repeat scroll right
		top / 17px 17px #fff;
	border: 1px solid #505050;
	color: #444;
	cursor: pointer;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	padding: 1px 5px;
	height: 15px;
}

.DialogContainer .DialogPaneContent .SelectedText:hover {
	background: url('../../../images/dropdown-hover.svg') no-repeat scroll right
		top / 17px 17px #fff;
}

.DialogContainer .DialogPaneContent .SelectedText[disabled='disabled'] {
	background: url('../../../images/dropdown-disabled.svg') no-repeat scroll
		right top / 17px 17px #fff;
	border: 1px solid #cdcccc;
}

.DialogContainer .DialogPaneContent .Options {
	background-color: #fff;
	border: 1px solid #505050;
	cursor: pointer;
	display: none;
	position: absolute;
	top: 18px;
	left: 0;
	max-height: 38px;
	overflow-y: auto;
}

.DialogContainer .DialogPaneContent .Option {
	height: 15px;
	padding: 1px 5px;
	width: calc(100% - 10px);
}

.DialogContainer .DialogPaneContent .Option:hover {
	background-color: #dde7f5;
}

.DialogContainer .DialogPaneContent .Option[selected='selected'] {
	font-weight: bold;
}

.CompareDialogContentRow {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #9e9e9e;
	font-size: 0;
}

.CompareDialogContentRow:first-child {
	border-top-width: 0;
}

.CompareToggle {
	display: none;
}

.ButtonLabel {
	font-size: 12px;
}

.CompareButton {
	background-color: #fff;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #9e9e9e;
	color: #6e6e6e;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	text-decoration: none;
	position: relative;
	z-index: 1000;
}

.CompareButton:last-child {
	border-right-width: 0;
}

.CompareButton div.ButtonLabel {
	font-size: 14px;
	line-height: 32px;
	margin: 0;
	vertical-align: middle;
	width: 90px;
}

.CompareButton .MenuButton {
	bottom: 15px;
	right: 15px;
}

.CompareButton .ButtonImage,
.CompareButton .ButtonLabel {
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	color: #6e6e6e;
	font-size: 0;
	text-decoration: none;
	margin: 3px 6px;
	display: inline-block;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	z-index: 1000;
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.CompareButton.MarkupPressedButton,
.CompareButton.MarkupHoverButton,
.claro
	.DialogContainer.dijitDialog
	.dijitDialogPaneContent
	.DialogWidget.SmallButton.MarkupPressedButton,
.claro
	.DialogContainer.dijitDialog
	.dijitDialogPaneContent
	.DialogWidget.XSmallButton.MarkupPressedButton,
.CompareButton.MarkupPressedButton div,
.CompareButton.MarkupHoverButton div,
.claro
	.DialogContainer.dijitDialog
	.dijitDialogPaneContent
	.DialogWidget.SmallButton.MarkupPressedButton
	div,
.claro
	.DialogContainer.dijitDialog
	.dijitDialogPaneContent
	.DialogWidget.XSmallButton.MarkupPressedButton
	div {
	background-color: #f2eff6;
}

.DialogWidgetSlider.CompareButton {
	padding: 0;
	margin: 18px 5px;
}

.claro
	.CompareDialogContentRow
	.dijitSlider.DialogWidgetSlider
	.dijitSliderRemainingBarH,
.claro
	.CompareDialogContentRow
	.dijitSliderHover.DialogWidgetSlider
	.dijitSliderRemainingBarH,
.claro
	.CompareDialogContentRow
	.dijitSlider.DialogWidgetSlider
	.dijitSliderProgressBarH,
.claro
	.CompareDialogContentRow
	.dijitSlider.DialogWidgetSlider
	.dijitSliderRightBumper,
.claro
	.CompareDialogContentRow
	.dijitSliderHover.DialogWidgetSlider
	.dijitSliderRightBumper,
.claro
	.CompareDialogContentRow
	.dijitSlider.DialogWidgetSlider
	.dijitSliderLeftBumper,
.claro
	.CompareDialogContentRow
	.dijitSliderHover.DialogWidgetSlider
	.dijitSliderLeftBumper {
	background-color: #dcdcdc;
	background-image: none;
	border-color: #dcdcdc;
	outline: 0;
	box-shadow: none;
	height: 1px;
}

.claro
	.dijitDialog.DialogContainer
	.dijitDialogPaneContent.ExplodedDialogContainer {
	padding: 22px 15px;
}

.claro
	.dijitDialog.DialogContainer
	.dijitDialogPaneContent.CrossSectionDialogContainer {
	padding: 10px 10px 0px;
}

.claro .dijitDialog.DialogContainer .dijitDialogPaneContent.ZoomDialogContainer,
.claro
	.dijitDialog.DialogContainer
	.dijitDialogPaneContent.PreferencesDialogContainer {
	padding: 15px 10px;
}

.claro
	.dijitDialog.DialogContainer
	.dijitDialogPaneContent.FindDialogContainer {
	padding: 15px 10px 10px;
}

.dijitDialogPaneContent.FindDialogContainer .DialogWidget:first-child {
	margin: 0;
}

.claro .dijitDialog.DialogContainer .dijitDialogPaneContent .SmallButton,
.claro .dijitDialog.DialogContainer .dijitDialogPaneContent .XSmallButton {
	border: 1px solid #797979;
	margin: 0 5px;
	padding: 0;
	vertical-align: middle;
	line-height: 26px;
	height: 26px;
	width: 26px;
}

.claro
	.dijitDialog.DialogContainer
	.dijitDialogPaneContent
	.SmallButton.BorderedButton,
.claro
	.dijitDialog.DialogContainer
	.dijitDialogPaneContent
	.XSmallButton.BorderedButton {
	margin: 5px 5px;
}

.claro
	.dijitDialog.DialogContainer
	.dijitDialogPaneContent
	.SmallButton.PaddedLeftButton,
.claro
	.dijitDialog.DialogContainer
	.dijitDialogPaneContent
	.XSmallButton.PaddedLeftButton {
	margin-left: 15px;
}

.claro
	.dijitDialog.DialogContainer
	.dijitDialogPaneContent
	.SmallButton.NoLeftMargin,
.claro
	.dijitDialog.DialogContainer
	.dijitDialogPaneContent
	.XSmallButton.NoLeftMargin {
	margin-left: 0px;
}

.claro .dijitDialog.DialogContainer .dijitDialogPaneContent .XSmallButton {
	height: 18px !important;
	width: 18px !important;
}

.claro
	.dijitDialog.DialogContainer
	.dijitDialogPaneContent
	.SmallButton
	.ButtonImage,
.claro
	.dijitDialog.DialogContainer
	.dijitDialogPaneContent
	.XSmallButton
	.ButtonImage {
	width: 26px;
	height: 26px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	font-size: 0;
	display: block;
	padding: 0;
}

.claro
	.dijitDialog.DialogContainer
	.dijitDialogPaneContent
	.XSmallButton
	.ButtonImage {
	height: 18px !important;
	width: 18px !important;
}

.DialogWidget {
	display: inline-block;
	padding-bottom: 7px;
	padding-right: 10px;
	padding-top: 7px;
	white-space: nowrap;
}

.NumberTextBox {
	border: 1px solid #797979;
	font: message-box;
	height: 28px;
	margin: 0 5px;
	padding: 0 5px;
	line-height: 28px;
	vertical-align: middle;
}

.NumberTextBox::-ms-clear {
	display: none;
}

.TextBox {
	margin: 0 5px;
	padding: 0;
}

.FindDialogContainer .TextBox .dijitTextBox {
	line-height: 28px;
	vertical-align: middle;
}

.claro .FindDialogContainer .TextBox .dijitTextBox,
.FindDialogContainer .TextBox .dijitTextBox.dijitTextBoxFocused {
	border-color: #7a7a7a;
}

.FindDialogContainer
	.TextBox
	.dijitTextBox
	.dijitReset.dijitValidationContainer,
.FindDialogContainer
	.TextBox
	.dijitTextBox
	.dijitReset.dijitInputField.dijitInputContainer {
	height: 26px;
}

.FindDialogContainer
	.TextBox
	.dijitTextBox
	.dijitReset.dijitInputField.dijitInputContainer
	input {
	line-height: 24px;
	height: 24px;
}

.dijitDialogPaneContent.FindDialogContainer .DialogWidget.CheckboxContainer {
	margin: 5px 0 0 5px;
	padding: 0;
}

.dijitDialogPaneContent .CrossSectionSlider {
	margin: 20px 5px 0;
}

.claro
	.DialogContainer.dijitDialog
	.dijitDialogPaneContent.CrossSectionDialogContainer
	.DialogWidget.SmallButton.MarkupPressedButton,
.claro
	.DialogContainer.dijitDialog
	.dijitDialogPaneContent.CrossSectionDialogContainer
	.DialogWidget.XSmallButton.MarkupPressedButton {
	border-color: red;
}

.DialogContainer .DialogPaneContent.PDFMeasurementDialogContainer > div table,
.DialogContainer .DialogPaneContent .CompareContent > div table {
	margin: 0 10px;
}

.DialogContainer
	.DialogPaneContent.PDFMeasurementDialogContainer
	> div
	table
	td,
.DialogContainer .DialogPaneContent .CompareContent > div table td {
	height: 40px;
	padding: 2px 7px;
	vertical-align: middle;
}

.DialogPaneContent.PDFMeasurementDialogContainer .TextBox,
.dijitDialogPaneContent.PreferencesDialogContainer .TextBox {
	border: 1px solid #505050;
	line-height: 28px;
	height: 28px;
	padding: 0 5px;
	width: 48px;
	vertical-align: bottom;
}

.DialogContainer .DialogPaneContent.PDFMeasurementDialogContainer .Select {
	height: 28px;
	width: 110px;
	vertical-align: middle;
	margin-left: 5px;
}

.DialogContainer
	.DialogPaneContent.PDFMeasurementDialogContainer
	.SelectedText {
	background: url('../../../images/arrow-blue-b.svg') no-repeat scroll right
		center / 20px 20px #fff;
	border: 1px solid #505050;
	color: #444;
	cursor: pointer;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	padding: 1px 5px;
	height: 26px;
	line-height: 26px;
}

.DialogContainer
	.DialogPaneContent.PDFMeasurementDialogContainer
	.SelectedText:hover {
	background: url('../../../images/arrow-blue-b-hover.svg') no-repeat scroll
		right center / 20px 20px #fff;
}

.DialogContainer .DialogPaneContent.PDFMeasurementDialogContainer .Options {
	background-color: #fff;
	border: 1px solid #505050;
	cursor: pointer;
	display: none;
	position: absolute;
	top: 29px;
	left: 0;
	max-height: 90px;
	overflow-y: auto;
}

.DialogContainer .DialogPaneContent.PDFMeasurementDialogContainer .Option {
	height: 28px;
	line-height: 28px;
	padding: 1px 5px;
	width: calc(100% - 10px);
}

.DialogContainer
	.DialogPaneContent.PDFMeasurementDialogContainer
	.Option:hover {
	background-color: #dde7f5;
}

.DialogContainer
	.DialogPaneContent.PDFMeasurementDialogContainer
	.Option[selected='selected'] {
	font-weight: bold;
}

.DialogContainer
	.DialogPaneContent.PDFMeasurementDialogContainer
	#unitsPlaceHolder {
	display: inline-block;
	height: 30px;
}

.DialogContainer .DialogPaneContent.PDFMeasurementDialogContainer .UnitsLabel {
	line-height: 31px;
	height: 29px;
	vertical-align: middle;
	display: inline-block;
}

.DialogContainer .DialogPaneContent.PDFMeasurementDialogContainer .ScaleLabel {
	display: inline-block;
	vertical-align: middle;
	margin-left: 3px;
}

.DialogContainer
	.dijitDialogPaneContent.PreferencesDialogContainer
	.RadioButtonContainer {
	margin: 10px 0;
}

.DialogContainer
	.dijitDialogPaneContent.PreferencesDialogContainer
	.PreferencesRadioButtonContainer {
	display: inline-block;
	padding-bottom: 5px;
}

.DialogContainer
	.dijitDialogPaneContent.PreferencesDialogContainer
	.PreferencesRadioButtonContainer
	.RadioButtonText {
	margin-left: 5px;
}

.DialogContainer
	.dijitDialogPaneContent.PreferencesDialogContainer
	.CustomDPIContainer {
	display: inline-block;
}

.DisplayStyleContentRow {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #9e9e9e;
	font-size: 0;
}

.DisplayStyleButton {
	background-color: #fff;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #9e9e9e;
	color: #6e6e6e;
	cursor: pointer;
	font-size: 0;
	text-decoration: none;
	position: relative;
	padding: 4px;
	z-index: 1000;
}

.ui-dialog {
	font-size: 11px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.ui-dialog .ui-dialog-buttonpane {
	padding: 0 !important;
}

.ui-dialog a {
	outline: none;
}

.ui-dialog .ui-dialog-titlebar {
	background: none;
	border-radius: 0;
	border: 0;
	padding: 2px 0 0 0 !important;
}

.ui-dialog-content {
	font-size: 14px;
}

.ui-dialog .ui-dialog-buttonset {
	font-size: 14px;
}

.ConfigurationLabel {
	vertical-align: super;
	font-weight: bold;
}

#configurationPlaceHolder div.Options {
	height: auto;
	max-height: 60px;
}

#modelBrowserTree {
	height: 400px;
}

.dijitTooltipDialogPopup {
	z-index: 11111 !important;
}

.dijitMenuPopup {
	z-index: 11111 !important;
}

.CrossSectionContentRow {
	padding-bottom: 7px;
}

.CrossSectionPanel {
	border: 1px solid #9e9e9e;
}

.CrossSectionDialogContainer {
	background: url('../../../images/PanelBordered.svg') no-repeat 8px 7px !important;
	background-size: 157px 84px !important;
}

.CappingGeometryRow {
	margin-top: 8px;
	margin-bottom: 0px;
}

.CappingGeometryRow .DialogWidget:first-child {
	margin-left: 0px;
}
