footer
{
	margin-top: 10px;
	padding: 10px;
	font-weight: bold;
	font-size: 80%;
	background-color: rgb(0, 144, 208);
	color: white;
	height: 10px; 
	width: 100%; 
	position: fixed; 
	bottom: 0px; 
	text-align: center;
}

footer > a 
{
	color: white;
}

footer > a:hover
{
	color: white;
	text-decoration: underline;
}