body
{
	margin: 0;
}

header
{
	top: 0px; 
	height: 100px; 
	background-color: pink
}

sidebar
{
	float: left; 
	top: 0px;
	position: relative;
	width: 100px; 
	height: 100%;
	background-color: cyan; 
	padding-bottom: 40px;
	font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

topic
{
	background-color: green;
	padding-bottom: 40px;
}

footer
{
	bottom: 0px; 
	height: 40px; 
	width: 100%; 
	position: fixed; 
	background-color: red;
}

table
{
	border: 0px;
	border-collapse: collapse;
}

td
{
	vertical-align: top;
}