body
{
	font-family: HelveticaNeueLTStd-Roman, Helvetica, Arial;
	font-size: 16px;
	margin: 0px;
	padding-bottom: 30px;
}

h1, h2, h3, h4 {
	font-family: HelveticaNeueLTStd-Roman, Helvetica, Arial;
	color: rgb(60,60,60);
	margin-top: 30px;
	margin-bottom: 4px;
}

a
{
    color: rgb(100,100,100); /*125*/
	text-decoration: underline;
}

a:hover
{
	color: #26ade4;
}

.filename
{
	font-style: italic;
}

.code
{
	font-family: monospace;	
}

hr 
{
	border: none; 
	border-top: 1px solid #ddd;
}

/*Old browsers put a border around linked images*/
a img
{
	border: none;
}

::selection
{
	background: rgb(200,200,200);
}

::-moz-selection 
{
	background: rgb(200,200,200);
}

ul
{
	margin-left: 30px;
}

.content_div
{
	margin-left: 220px; /*margin-bottom: 70px;*/
	overflow: auto;
}

.toc_div
{
	width: 200px; float: left;
	margin-left: 6px;
	margin-top: 20px;
}

.search 
{
	float: right; 
	padding-right: 10px;
	margin-top: 25px;
	width: 300px;
	height: 50px;
}

.elRef
{
	text-decoration: underline;
}

.codeRef
{
	text-decoration: underline;
}


div.caption
{
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 6px;
}

.title
{
	margin-top: 16px;
	margin-bottom: 10px;
}


#titlearea 
{
	display: none;
}

.title
{
	font-size: 24px;
	font-weight: bold;
}

#navrow1
{
	display: none;
}

#navrow2
{
	display: none;
}

#nav-path
{
	display: none;
}

.summary
{
	display: none;
}

div.headertitle
{
	background-color: white;
}

.table_style1 {
	border: 1px solid #ddd;
}

.table_style1 tr, th, td {
	border: 0;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

.table_style1 td {
    border-top: 1px solid #DDD;
    padding: 6px 10px 6px 10px;
	font-family: "verdana";
	font-size: 90%;
}

.table_style1 th 
{
	color: #666;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
	border-collapse: separate;
    border-spacing: 0px;
}

.filename
{
	font-style: italic;
}

table td.supported {
	background-image: url('../common/images/green_circle.png');
	background-repeat: no-repeat;
	background-position: center center;
}

table td.unsupported {
	background-image: url("../common/images/red_circle.png");
	background-repeat: no-repeat;
	background-position: center center;
}

table td.as-is {
	background-image: url("../common/images/grey_circle.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.code
{
	font-family: courier;
	font-size: 100%;
}

.center
{
	text-align: center;
}

.line
{
	white-space: pre;
	font-family: courier;
	
}

hr {
	border: none; 
	border-top: 1px solid #ddd;
}

/* styling for code */

SPAN.keyword       { color: #008000 }
SPAN.keywordtype   { color: #604020 }
SPAN.keywordflow   { color: #e08000 }
SPAN.comment       { color: #800000 }
SPAN.preprocessor  { color: #806020 }
SPAN.stringliteral { color: #002080 }
SPAN.charliteral   { color: #008080 }
SPAN.vhdldigit     { color: #ff00ff }
SPAN.vhdlchar      { color: #000000 }
SPAN.vhdlkeyword   { color: #700070 }
SPAN.vhdllogic     { color: #ff0000 }

/* end styling for code */


.exchange {
    display: inline;
}

.exchange-tr {
    display: table-row;
}

.exchange-li {
    display: list-item;
}

.parasolid {
    display: inline;
}

.parasolid-tr {
	display: table-row;
}

.parasolid-li {
    display: list-item;
}

.publish {
	display: inline;
}

.publish-tr {
	display: table-row;
}

.publish-li {
	display: list-item;
}

.sketchup {
	display: inline;
}

.sketchup-tr {
	display: table-row;
}

.sketchup-li {
	display: list-item;
}


.exchange {
    display: none;
}

.parasolid {
    display: none;
}

.memname tr td
{
	width: 1px;
	white-space: nowrap;
	text-align: left;
}

.memname tr td:last-child
{
	width: 100%;
}

.params dt, dl.return dt
{
	font-weight: bold;	
}

.params table .paramname
{
	font-family: monospace;	
}

.memitem p, .memitem dl
{
	margin: 10px 10px 10px 10px;
}


.memitem
{
	border: 1px solid rgb(225,225,225);	
	margin-bottom: 20px;
}

.memproto
{	
	border-bottom: 1px solid rgb(225,225,225);	
	margin-bottom: 10px;
}

.memproto table td
{
	font-weight: bold;
	font-family: monospace;	
}

.memproto table td:first-child
{
	padding-left: 10px;
}

.memproto table td:last-child
{
	padding-right: 10px;
}

.memproto table tr:first-child td
{
	padding-top: 6px;	
}

.memproto table tr:last-child td
{
	padding-bottom: 6px;
}

.memproto table
{
	background-color: #f5f5f5;
}

.important
{
	
	color: red;
}

.appendix-subtable-right
{
	padding-bottom: 3px;
	margin-bottom: 2px;
	border-bottom: 1px solid #ddd;
}

.api_desc
{
	border: 1px solid rgb(225,225,225);	
	margin-bottom: 20px;
}

.api_title
{
	font-weight: bold;
	background-color: #f5f5f5;
	border-bottom: 1px solid rgb(225,225,225);	
	padding: 6px 10px 6px 10px;
}

.api_content
{
	padding: 6px 10px 6px 10px;
}

.api_params
{
	margin-left: 25px;
}