ul
{
	
	padding: 0;
}

ul, li
{
	margin-top: .2em;
	margin-bottom: .2em;
}

a.toc-link
{
	text-decoration: none;
}

.toc-group .toc-group, .toc-group .toc-topic
{
	margin-left: 18px;
}

.toc-group 
{
	list-style-type: circle;
}

.toc-topic 
{
	list-style-type: disc;	
}

ul.toc-header
{
	margin: 0;	
}

.toc-group span, .toc-topic a
{
	font-size: .8em;
}

.toc-subtopic 
{
	list-style-type: none; 
	margin-left: -26px;
}

.subtopic-content
{
	margin-left: 20px;
}


.noStyleAccordion .ui-accordion-header, .noStyleAccordion .ui-accordion-content {
     border: none;
     outline: none;
     list-style-type: none;
     padding: 0px;
     padding-left: 26px;
     color: #444;
     font-size: 90%;
}

.toc-subtopic-standalone
{
	font-weight: bold; 
	font-size: 90%; 
	margin-left: 26px;
}

.selected-link
{
	color: #26ade4 !important;
}