﻿#UserAvatarContainer
{
	position: absolute;
	display: none;
}

.UserInfoPopupTable {
	margin: 10px;
	width: 250px;
}

.UserInfoPopupTable > div:last-child {
	white-space: nowrap;
}

.UserInfoPopupTable p {
	margin: 3px 0;
	font-size: 8pt;
	overflow: hidden;
	text-overflow: ellipsis;
}

.UserInfoPopupTable p.UserName {
	font-size: 11pt;
}

.UserInfoPopupTable p > a,
.UserInfoPopupTable p > span {
	margin-left: 2px;
}

.UserAvatarDiv {
	float: left;
	width: 80px;
	height: 80px;
	background-size: 100% 100%;
	margin-right: 3px;
}
.UserAvatar {
	visibility: hidden;
}
