﻿/*Created with Adobe RoboHelp 10.*/
BODY {
	font-family: Arial;
	background-color: #ffffff;
}
H1 {
	font-weight: bold;
	font-size: 18pt;
	font-family: "Times New Roman", serif;
	list-style: url(image409.gif);
	margin-left: 36pt;
}
LI.h1 {
	font-weight: bold;
	font-size: 18pt;
	font-family: "Times New Roman", serif;
	list-style: url(image409.gif);
}
H2 {
	font-weight: bold;
	font-size: 12pt;
	font-family: "Times New Roman", serif;
	margin-top: 9pt;
	margin-bottom: 0pt;
}
LI.h2 {
	font-weight: bold;
	font-size: 12pt;
	font-family: "Times New Roman", serif;
}
H3 {
	font-weight: bold;
	font-size: 14.0pt;
}
LI.h3 {
	font-weight: bold;
	font-size: 14.0pt;
}
H4 {
	font-weight: bold;
	font-size: 12.0pt;
}
LI.h4 {
	font-weight: bold;
	font-size: 12.0pt;
}
H5 {
	font-weight: bold;
	font-size: 10.0pt;
}
LI.h5 {
	font-weight: bold;
	font-size: 10.0pt;
}
H6 {
	font-weight: bold;
	font-size: 8.0pt;
}
LI.h6 {
	font-weight: bold;
	font-size: 8.0pt;
}
P {
	margin-bottom: 0pt;
	margin-top: 9pt;
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	font-family: Arial, sans-serif;
}
LI.p {
	font-weight: normal;
	font-style: normal;
	font-size: 11pt;
	font-family: Arial, sans-serif;
}
A.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}
A.dropspot {
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}
A.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}
OL,
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}
P.Note {
	background-color: #639ace;
	text-indent: -0.4in;
	margin-left: 0.4in;
}
LI.p-Note {
	text-indent: -0.4in;
}
P.Tip {
	border-left-style: None;
	border-right-style: None;
	border-top-style: None;
	border-bottom-style: None;
	background-color: #cccc99;
	margin-top: 18pt;
	margin-bottom: 9pt;
}
LI.p-Tip {
}
P.InstructionFirst {
	margin-top: 14pt;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	x-next-class: InstructionList;
	x-next-type: P;
}
LI.p-InstructionFirst {
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
}
P.InstructionList {
	list-style: decimal;
	margin-left: 18pt;
	margin-top: 4.5pt;
}
LI.p-InstructionList {
	list-style: decimal;
}
P.ListIndent1 {
	list-style: lower-alpha;
	margin-left: 36pt;
}
LI.p-ListIndent1 {
	list-style: lower-alpha;
}
SPAN.MenuChoice {
	font-weight: bold;
	font-style: normal;
}
P.ListIndent2 {
	list-style: lower-roman;
	margin-left: 54pt;
}
LI.p-ListIndent2 {
	list-style: lower-roman;
}
P.ToDo {
	font-size: 14pt;
	font-weight: bold;
	font-style: normal;
	color: #800080;
}
LI.p-ToDo {
	font-size: 14pt;
	font-weight: bold;
	font-style: normal;
	color: #800080;
}
P.ListBulleted {
	list-style: square;
	margin-left: 18pt;
	margin-top: 0pt;
}
LI.p-ListBulleted {
	list-style: square;
}
P.ArasHeading1 {
	x-next-class: ;
	x-next-type: H1;
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	font-family: "Times New Roman", serif;
	margin-top: 0pt;
	margin-left: 0.5in;
	list-style: url(image410.jpg);
}
LI.p-ArasHeading1 {
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	font-family: "Times New Roman", serif;
	list-style: url(image410.jpg);
}
P.Code {
	margin-left: 18pt;
	margin-top: 0pt;
	font-size: 10pt;
}
LI.p-Code {
	font-size: 10pt;
}
