.active-item{
	position: relative;
	padding: 0 10px;
	float: left;
	border-right: 1px solid #d4d4d4;
	background-color: #fff;
	margin-top: 7px;
	margin-right: 5px;
}

.activeItem-name{
	top: 4px;
	left: 4px;
	margin: 0;
	font-size: 12px;
	line-height: 1;
	font-weight: normal;
	text-transform: uppercase;
	color: #444;
}

.item-id{
	font-size: 11px;
    color: #7f7f7f;
    padding-right: 25px;
    display: inline-table;
    margin: 0;
}

.item-id > a, .item-id > a:active, .item-id > a:hover{
	color: #5d5d5d;
}

.activeItem-name > a, .activeItem-name > a:active, .activeItem-name > a:hover{
	color: #5d5d5d;
}