﻿/* Style Sheet created by ImportDoc 13.0 */

p.WD_Normal {
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri"   ,sans-serif;
}

p.WD_contentbody {
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	font-size:10.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.WD_numbered {
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.75in;
	text-indent:-.75in;
	font-size:10.0pt;
	font-family:"Arial"   ,sans-serif;
}

span.WD_rls1numberedlist {
	font-family:"Arial"   ,sans-serif;
}

p.WD_warningparagraph {
	margin-top:8.0pt;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	border:none;
	padding:0in;
	font-size:10.0pt;
	font-family:"Times New Roman"   ,serif;
}

span.WD_rls2numberedlist {
	font-family:"Arial"   ,sans-serif;
}

span.WD_bold {
	font-family:"Arial"   ,sans-serif;
	font-weight:bold;
}

span.WD_rls1warningblack {
	font-family:"Arial"   ,sans-serif;
	color:red;
	font-weight:bold;
}

p.WD_figureindented {
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:37.45pt;
	font-size:10.0pt;
	font-family:"Arial"   ,sans-serif;
}

OL {
	margin-top:0px;
	margin-bottom:0px;
}

UL {
	margin-top:0px;
	margin-bottom:0px;
}

