.filtersPanelContainer {
	padding: 0 6px;
}

/*------------------------------------------------------------------------------------------------------------*/

.filtersPanelHeaderContainer {
	height: 35px;
	line-height: 30px;
}

.filtersPanelHeaderContainer img {
	max-width: 20px;
    max-height: 20px;
    float: left;
	position: relative;
    left: -4px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: -1px;
}

.filtersPanelHeaderContainer .filtersPanelLinkButton {
	float: right;
}

.filtersPanelLabel {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #444444;
	float: left;
}

.filtersPanelLinkButton {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3668b1;
	text-decoration: underline;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/*------------------------------------------------------------------------------------------------------------*/

.filtersPanelSeparator {
	border-top: 1px solid #d5d5d5;
}

/*------------------------------------------------------------------------------------------------------------*/

.filterItemContainer {
	margin-top: 10px;
}

.filterItemContainer:nth-child(4) {
	margin-top: 6px;
}

.filterItemOptionsContainer {
	margin-left: 16px;
}

.filterItemCollapsed .filterItemExpandCollapseArrow {
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.filterItemCollapsed > .filterItemOptionsContainer {
	display: none;
}

.filterItemCollapsed > .filterItemMoreOptionsLinkContainer {
	display: none;
}

.filterItemHeader {
	margin-bottom: 7px;
	height: 20px;
	width: 100%;
	line-height: 21px;
}

.filterItemHeader > img {
	vertical-align: middle;
	cursor: pointer;
}

.filterItemHeader .filtersPanelLinkButton {
	float: right;
}

.filterItemLabel {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444444;
	font-weight: bold;
}

.filterItemOptionContainer {
	min-height: 22px;
}

.filterItemOptionContainer > label {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444444;
}

.filterItemOptionContainer > label > input[type="checkbox"] {
	margin-right: 8px;
}

.filterItemOptionContainer > span {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #b3b3b3;
}

.filterItemMoreOptionsLinkContainer {
	display: inline-block;
	margin-top: 7px;
	margin-left: 15px;
	margin-bottom: 2px;
	font-size: 12px;
}