.bodyCloak {
	width: 100%;
	height: 100%;
	position:absolute;
	opacity: 0.5;
	background-color: white;
}

.filterDialog1Container {
	width: 468px;
	padding: 10px 8px 12px 10px;
}

.filterDialog1ContentContainer {
	height: 250px;
	margin-top: 14px;
	padding-right: 12px;
	overflow: auto;
}

.filterDialog1FilterContainer {
	border-bottom: 1px solid #d4d4d4;
	padding-top: 7px;
	padding-bottom: 8px;
	float: left;
	width: 100%;
}

.filterDialog1FilterContainer .boldLabel {
	float: left;
	min-height: 15px;
}

.filterDialog1FilterContainer > span:nth-child(2) {
	float: right;
}

.filterDialog1ControlButtonsContainer {
	font-size: 0;
}

.filterDialog1ControlButtonsContainer span {
	float: left;
}

.filterDialog1ButtonSeparator {
	width: 0px;
	height: 12px;
	position: relative;
	top: 1px;
}

.filterDialog1ButtonSeparator {
	font-size: 10px;
	border-left: 1px solid #d4d4d4;
	margin-left: 4px;
	padding-left: 4px;
}

.filterDialog1OptionsContainer {
	margin-top: 7px;
	clear: both;
	float: left;
	width: 100%;
}

.filterDialog1OptionsContainer > div {
	width: 48%;
	float: left;
}

.filterDialog1ButtonsContainer {
	margin-top: 12px;
	overflow: hidden;
}

.filterDialog1ButtonsContainer > div {
	display: inline-block;
	font-size: 12px;
}

.filterDialog1ButtonsContainer > div:nth-child(2) {
	float: right;
}

.filterDialog1ButtonsContainer input[type=button] {
	float: left;
}

.filterDialog1ButtonsContainer input[type=button]:nth-child(2) {
	margin-left: 8px;
}

.filterDialog1OptionsContainer label span {
    float: left;
    width: 100%;
    margin-top: 2px;
	min-height: 16px;
}

.filterDialog1Container > .boldLabel {
	line-height: 12px;
}