.bodyCloak {
	width: 100%;
	height: 100%;
	position:absolute;
	opacity: 0.5;
	background-color: white;
}

.filterDialogContentContainer {
	height: 350px;
	padding: 5px 10px 0;
	overflow: hidden;
}

.filterDialogContentContainer > div:nth-child(1) {
	display: inline-block;
	vertical-align: top;
	width: 348px;
	height: 100%;
	padding-right: 14px;
	margin-top: 7px;
	border-right: 1px solid #d4d4d4;
}

.filterDialogSearchContainer {
	float: left;
	width: 100%;
}

.filterDialogSearchContainer > div {
	float: right;
	position: relative;
	border: 1px solid #868686;
    height: 20px;
}

.filterDialog2SearchIcon {
	position: absolute;
	background-image: url(../../Images/SearchLoupe.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
	right: 0;
}

.filterDialogContentContainer > div:nth-child(2) {
	display: inline-block;
	width: 149px;
	vertical-align: top;
	height: 100%;
	margin-left: 9px;
	margin-top: 4px;
	overflow: auto;
}

.filterDialogContentContainer > div:nth-child(2) .filterDialogBoldLabel {
	margin-bottom: 18px;
	line-height: 15px;
}

.filterDialogBoldLabel {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #444444;
	letter-spacing: -0.2px;
}

.filterDialogAlphabeticalLabel {
	display: inline-block;
	width: 14px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #b3b3b3;
	margin-right: 5px;
	position: relative;
	top: 2px;
	right: 1px;
}

.filterDialogOptionLabel {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444444;
	display: inline-block;
}

.filterDialogOptionLabel > span {
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	max-width: 90px;
	margin-left: 1px;
	margin-right: 4px;
	position: relative;
	top: 5px;
}

.filterDialogLabelContainer {
	display: inline-block;
	width:110px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

.filterDialogOptionCountLabel {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #b3b3b3;
}

.filterDialogOptionsContainer {
	max-height: 307px;
	overflow: auto;
	width: 100%;
	margin-top: 36px;
	height: 100%;
}

.filterDialogOptionsContainer > table {
	width: 100%;
	border-spacing: 0px;
	padding-left: 1px;
}

.filterDialogOptionsContainer > table td {
	width: calc(50% - 10px);
	vertical-align: top;
	display: block;
	float: left;
	padding: 0;
}

.filterDialogOptionsContainer > table td:nth-child(1) {
	margin-right: 20px;
}

.filterDialogOptionContainer {
	width: 100%;
	white-space: nowrap;
	height: 20px;
	font-size: 0;
}

.filterDialogButtonsContainer {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 12px;
	text-align: right;
}

.filterDialog2SearchTextBox {
	float: right;
	position: relative;
	padding-right: 30px;
	padding-left: 4px;
	width: 158px;
	outline: none;
	border: none;
	height: 18px;
}

.filterDialog2SearchTextBox::-ms-clear {
	display: none;
}

.filterDialog2ClearSearchCriteriaButton {
	position: absolute;
	cursor: pointer;
	width: 20px;
	height: 20px;
	right: 0;
	visibility: hidden;
}

.filterDialog2ClearSearchCriteriaButton > img {
	width: 20px;
	height: 20px;
}

.filterDialogSelectedOptionContainer {
	font-size: 0px;
	margin-bottom: 4px;
	overflow: hidden;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.filterDialogSelectedOptionContainer > img {
	cursor: pointer;
	float: right;
	margin-top: 4px;
	margin-right: 1px;
}