.resultItemContainer {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #d5d5d5;
}

/*---------------------------------------------------------------------------------------*/

.headerContainer {
	min-height: 25px;
	display: table;
	width: 100%;
}

.headerContainer > div {
	font-size: 0px;
}

.resultItemSubContainer > .headerContainer > .headerImageContainer {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.childItemContainer > .headerContainer > .headerImageContainer {
	float: left;
	padding: 0px 4px;
}

.resultItemSubContainer > .headerContainer > .headerImageContainer > img {
	max-width: 24px;
	max-height: 24px;
	margin-top: 1px;
	cursor: pointer;
}

.childItemContainer > .headerContainer > .headerImageContainer > img {
	max-width: 16px;
	max-height: 16px;
	position: relative;
	top: -1px;
}

.headerMiddleContainer {
	float: left;
	font-size: 0px;
}

.childItemContainer > .headerContainer > .headerMiddleContainer {
	margin-left: 10px;
}

.headerMiddleContainer > div:nth-child(1) {
	display: block;
	margin-bottom: 3px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3668b1;
	cursor: pointer;
	text-decoration: underline;
	line-height: 12px;
	white-space: pre;
	float: left;
}

.headerMiddleContainer > div:nth-child(1) > b {
	color: #e68e46;
}

.headerMiddleContainer > div:nth-child(2) {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #727272;
	float: left;
	clear: both;
}

.headerMiddleContainer > div:nth-child(2) strong b {
	color: #e68e46;
}

.headerRightContainer {
	float: right;
}

.headerRightContainer > div:nth-child(1) {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2d2d2d;
	line-height: 14px;
	text-align: right;
}

.headerRightContainer > div:nth-child(2) {
	float: right;
	line-height: 12px;
	position: relative;
	top: 2px;
}

.propertiesLabelContainer {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3668b1;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	width: 12px;
	height: 12px;
	display: inline-block;
	border: 1px solid #d8d8d8;
	border-radius: 50%;
	margin-left: 4px;
	float: left;
	position: relative;
}

.propertiesLabelContainerExpanded {
	border: 1px solid #3668b1;
}

.propertiesLabelContainerCollapsed::after {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 4px 3px 0px 3px;
	border-color: #787878 transparent transparent transparent;
	content: "";
	position: absolute;
	top: 5px;
	left: 3px;
}

.propertiesLabelContainerExpanded::after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 3px 4px 3px;
	border-color: transparent transparent #3668b1 transparent;
	content: "";
	position: absolute;
	top: 4px;
	left: 3px;
}

/*---------------------------------------------------------------------------------------*/

.propertiesContainer {
	height: 78px;
	overflow: auto;
}

.resultItemSubContainer > .propertiesContainerWrapper, .childItemContainer.childItem > .propertiesContainerWrapper {
	margin-left: 10px;
	border: 1px solid #D5D5D5;
	margin-top: 10px;
	padding: 4px 4px 4px 0px;
}

.resultItemFile > .headerContainer .headerMiddleContainer > div:nth-child(2) {
	display: none;
}

.resultItemFile > .headerContainer .headerMiddleContainer > div:nth-child(1) {
	float: none;
	display: inline;
	vertical-align: middle;
}

.resultItemFile > .headerContainer .headerMiddleContainer {
	line-height: 16px;
	height: 16px;
}

.resultItemFile > .headerContainer .propertiesLabelContainer {
	top: 0px;
	float: none;
	vertical-align: middle;
}

.childItemContainer > .propertiesContainer {
	margin-left: 24px;
}

.propertiesContainer > div:nth-child(1) {
	float: left;
	margin-left: 18px;
	width: 115px;
	margin-top: 2px;
}

.propertiesContainer > div:nth-child(1) > div {
	margin-bottom: 7px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #444444;
}

.propertiesContainer > div:nth-child(1) > img {
	max-width: 45px;
	max-height: 45px;
}

.propertiesContainer > div:nth-child(2) {
	padding-top: 6px;
	padding-bottom: 6px;
	float: left;
	width: calc(100% - 137px);
	height: 66px;
	margin-top: -2px;
	margin-right: 4px;
}

.propertiesContainer > div:nth-child(2) > div {
	float: left;
	width: 100%;
}

.propertyContainer {
	display: block;
	margin-bottom: 2px;
	float: left;
	width: calc(20% - 32px);
	margin-right: 32px;
}

.propertyLabel {
	padding-right: 12px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #727272;
	vertical-align: top;
}

.propertyLink {
	padding-right: 32px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	color: #3668b1;
	cursor: pointer;
}

.propertyText {
	vertical-align: top;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2d2d2d;
}

.propertyText.linkButton {
	color: #3668b1;
}

/*---------------------------------------------------------------------------------------*/

.resultItemSubContainer > .highlightsContainer {
	margin-left: 10px;
	clear: both;
	padding-bottom: 0px;
}

.childItemContainer > .highlightsContainer {
	margin-left: 34px;
}

.highlightsContainer {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #727272;
	line-height: 18px;
}

.highlightsContainer b {
	color: #e68e46;
}

.highlightContainer {
	margin-top: 5px;
	line-height: 18px;
}

.highlightContainer:nth-child(1) {
	margin-top: 4px;
}

.highlightContainer:last-child {
	padding-bottom: 4px;
}

.highlightContainer > span:nth-child(1) {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	color: #727272;
}

.highlightContainer > span:nth-child(2) {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #727272;
}

.highlightContainer > span:nth-child(2) > b {
	color: #e68e46;
}

/*---------------------------------------------------------------------------------------*/

.childItemsContainer {
	margin-left: 10px;
	display: table;
	width: calc(100% - 10px);
}

.childItemContainer.childItem > .propertiesContainerWrapper {
	margin-left: 0;
}

.childItemsContainerCollapsed > .childItem:not(:first-child) {
	display: none;
}

.childFileContainer.childItem:first-child {
	margin-top: 8px;
}

.childItemContainer {
	margin-top: 7px;
}

.childFileContainer {
	margin-top: 8px;
	font-size: 0;
}

.childFileContainer > div:nth-child(1) {
	float: left;
}

.childFileContainer > div:nth-child(1) > img {
	padding-top: 1px;
	max-width: 16px;
	max-height: 16px;
}

.childFileContainer > div:nth-child(2) {
	margin-left: 30px;
}

.childFileContainer > div:nth-child(2) > div:nth-child(1) {
	display: inline-block;
	margin-bottom: 2px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3668b1;
	text-decoration: underline;
	cursor: pointer;
}

.childFileContainer > div:nth-child(2) > div:nth-child(2) {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #727272;
	line-height: 14px;
}

.childFileContainer > div:nth-child(2) > div > b {
	color: #e78e46;
}

.childItemsContainer > div:last-child {
	cursor: pointer;
	max-width: 50px;
	margin-left: 4px;
}

.moreButton, .lessButton {
	position: relative;
	right: -2px;
	margin-top: 3px;
}

.moreButton::before {
	content: url("../../Images/arrow-b-14x14.svg");
	position: absolute;
	top: 3px;
	left: -2px;
}

.parentItemHighlighted .childFileContainer.childItem:first-child {
	margin-top: 1px;
}

.moreButton::after {
	content: "More";
	margin-left: 18px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3668b1;
	text-decoration: underline;
}

.lessButton::before {
	content: url("../../Images/arrow-b-14x14.svg");
	position: absolute;
	top: 2px;
	left: -2px;
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.lessButton::after {
	content: "Less";
	margin-left: 18px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3668b1;
	text-decoration: underline;
}