.searchPanelToolbarButtonsContainer {
	float: right;
	width: 193px;
}

.searchPanelSearchButtonContainer {
	float: left;
	background-color: #e78e46;
	cursor: pointer;
}

.searchPanelSearchButtonContainer > img {
	max-width: 18px;
	max-height: 18px;
	vertical-align: middle;
	margin: 2px 16px;
}

.searchPanelToolbarSeparator {
	float: left;
	height: 20px;
	margin-top: 2px;
	border-left: 1px solid #d5d5d5;
	margin-left: 8px;
	margin-right: 6px;
}

.searchPanelToolbarRefreshButton {
	max-width: 22px;
	max-height: 22px;
	float: left;
	cursor: pointer;
	margin-right: 6px;
}

.searchPanelRowCountTextBox {
	float: left;
	margin-top: 4px;
	width: 30px;
	height: 11px;
	border: 1px solid #b5bbc9;
	outline: none;
	font-size: 12px;
	padding-left: 1px;
	padding-right: 1px;
}

.searchPanelPreviousPageButton {
	float: left;
	margin-left: 6px;
	max-width: 22px;
	max-height: 22px;
	cursor: pointer;
}

.searchPanelNextPageButton {
	float: left;
	margin-left: 6px;
	max-width: 22px;
	max-height: 22px;
	cursor: pointer;
}

.searchPanelClearSearchCriteriaButton {
	position: absolute;
	cursor: pointer;
	width: 20px;
	height: 20px;
	margin: 2px 0 0 -20px;
	visibility: hidden;
}

.searchPanelClearSearchCriteriaButton > img {
	width: 20px;
	height: 20px;
}

.searchPanelQueryTextTextBox {
	width: auto;
	overflow: hidden;
}

.searchPanelQueryTextTextBox > input {
	overflow: hidden;
	height: 20px;
	width: 100%;
	border: 1px solid #505050;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 6px;
	padding-right:20px;
}

.searchPanelQueryTextTextBox > input::-ms-clear {
    display: none;
}

.searchPanelFiltersToolbar {
	position: relative;
	height: 25px;
	margin-top: 6px;
}

.searchPanelFilterOptionsContainer {
	position: absolute;
	left: 0;
	width: calc(100% - 34px);
	height: 100%;
	overflow: hidden;
}

.searchPanelShowFiltersButton {
	position: absolute;
	right: 10px;
	height: 18px;
	width: 14px;
	border: 1px solid #868686;
	cursor: pointer;
	visibility: hidden;
}

.searchPanelShowFiltersButton > img {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.searchPanelFilterOptionContainer {
	display: inline-block;
	height: 15px;
	margin-left: 8px;
	padding: 5px 6px;
	line-height: 11px;
	background-color: #dde7f5;
}

.searchPanelFilterOptionContainer:nth-child(1) {
	margin-left: 0;
}

.searchPanelFilterOptionContainer > span {
	vertical-align: middle;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #444444;
}

.searchPanelFilterOptionContainer > img {
	max-width: 12px;
	max-height: 12px;
	vertical-align: middle;
	cursor: pointer;
}