﻿.invisibleDivStyle,
.visibleDivStyle {
	margin: 10px;
}
.invisibleDivStyle {
	display: none;
}
.visibleDivStyle {
	display: block;
}
.visibleErrorStyle {
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: bold;
	margin: 10px;
	visibility: visible;
}
.crawlersGrid,
.fileProcessorsGrid,
.internalReindexGrid {
	width: 100%;
	height: calc(100% - 15px);
	display: block;
}
#internalReindexGrid {
	height: 250px;
	margin-bottom: 30px;
}
.mainContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.dashboardSpinner {
	border: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999999;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background-color: white;
}
.hidden {
	display: none !important;
}
.buttonsWrapper {
	float: right;
	margin: -25px 10px 0 0;
}
#crawlersGridLegend {
	padding-left: 26px;
	padding-right: 5px;
	font-size: 14px;
}
#agentIndicator {
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 7px;
	top: 0;
	border: 1px solid rgba(17, 17, 17, 0.5);
}
@-moz-document url-prefix() {
	#agentIndicator {
		top: -18px;
	}
}
.adminDashboard {
	width: 100%;
	height: 280px;
	max-height: 280px;
	margin-bottom: 10px;
}
.adminDashboard fieldset {
	height: 200px;
	padding-top: 10px;
	position: relative;
}
#crawlersRow {
	vertical-align: top;
}
.visibleDivStyle h1 {
	padding: 5px 0 5px 10px;
	margin-top: 0;
}
#internalReindexRow {
	width: 900px;
	height: 250px;
}
#fileProcessorsRow {
	width: 540px;
	height: 120px;
}
#internalReindexRow fieldset,
#fileProcessorsRow fieldset {
	height: 100%;
	padding-top: 10px;
}
#internalReindexGrid,
#fileProcessorsTable {
	float: left;
}
#internalReindexGrid {
	position: relative;
	top: -1px;
	z-index: 1;
}
#gridsContainer {
	height: calc(100% - 56px);
	overflow-y: auto;
}
#legendTable,
#internalReindexGeneralStatus {
	float: left;
	margin: 2px 0 0 9px;
	border-spacing: 0;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
#internalReindexGeneralStatus {
	margin: 0;
	width: calc(100% - 9px);
	z-index: 2;
	position: relative;
	max-width: 900px;
}
#legendTable caption {
	font-size: 14px;
	margin-bottom: 10px;
	text-align: left;
}
#legendTable th,
#legendTable td,
#internalReindexGeneralStatus th,
#internalReindexGeneralStatus td {
	font-size: 12px;
	padding: 5px 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#legendTable th,
#internalReindexGeneralStatus th {
	background-color: #f6f6f6;
	text-align: center;
}
fieldset {
	border: 0;
}
.claro .dojoxGridMasterHeader .dojoxGridRowTable {
	border-top: 1px solid #ccc;
}
.claro .dojoxGridHeader {
	border-top: 0 !important;
}
.claro .dojoxGridHeader .dojoxGridCell {
	border-left-width: 1px !important;
}
.dojoxGrid .dojoxGridContent .dojoxGridCell:first-child {
	border-left: 1px solid #ccc !important;
}
legend {
	font-size: 14px;
}
#internalReindexStatus {
	float: left;
}
#internalReindexStatusIcon {
	width: 10px;
	height: 10px;
	float: left;
	border: 1px solid;
	margin-left: 8px;
	position: relative;
	top: 2px;
}
#internalReindexStatusIcon.green {
	border-color: #34ab00;
	background: #59ff7a;
}
#internalReindexStatusIcon.red {
	border-color: #ff0000;
	background: #ff7a7a;
}
.spinning {
	transform: rotate(45deg);
	animation: spin 2s infinite linear;
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
#internalReindexProgressBarWrap {
	border-width: 1px;
	border-style: solid;
	position: relative;
}
#internalReindexProgressBarWrap.green {
	border-color: #34ab00;
}
#internalReindexProgressBarWrap.green.hasErrors {
	border-color: #ff0000;
	background: #ff7a7a;
}
.green #internalReindexProgressBar {
	background: #59ff7a;
}
#internalReindexProgressBarWrap.red {
	border-color: #ff0000;
}
.red #internalReindexProgressBar {
	background: #ff7a7a;
}
#internalReindexProgressBarWrap {
	height: 24px;
	text-align: center;
}
#internalReindexProgressBar {
	height: 100%;
	line-height: 24px;
}
#internalReindexProgressValue {
	position: relative;
	top: -20px;
}
#internalReindexControls {
	float: right;
	height: 100%;
}
#internalReindexControls > div {
	background-image: url('../Images/reindexButtons.png');
	width: 20px;
	height: 18px;
	float: left;
	cursor: pointer;
	margin-right: 10px;
}
#internalReindexControls > div:last-child {
	margin: 0;
}
#internalReindexRun {
	background-position: 0 -23px;
}
#internalReindexContinue {
	background-position: -32px -23px;
}
#internalReindexStop {
	background-position: -62px -23px;
}
#internalReindexRun:hover {
	background-position: 0 -1px;
}
#internalReindexContinue:hover {
	background-position: -32px -1px;
}
#internalReindexStop:hover {
	background-position: -62px -1px;
}
#internalReindexRun.disabled,
#internalReindexRun.disabled:hover {
	background-position: 0 -45px;
	cursor: default;
}
#internalReindexContinue.disabled,
#internalReindexContinue.disabled:hover {
	background-position: -32px -45px;
	cursor: default;
}
#internalReindexStop.disabled,
#internalReindexStop.disabled:hover {
	background-position: -62px -45px;
	cursor: default;
}
#internalReindexTable {
	min-width: 300px;
}
#internalReindexTable.empty #internalReindexRow {
	height: 100px;
}
#internalReindexTable.empty #internalReindexGrid {
	height: 28px;
}
@media (max-width: 1200px) {
	#internalReindexTable {
		width: 100%;
	}
}
.reindexDialog .dijitDialogTitleBar {
	background: #3768b1 none;
	border: none;
}
.reindexDialog .dijitDialogTitleBar .dijitDialogTitle {
	color: #fff;
}
.reindexDialog .dijitDialogCloseIcon {
	background: none;
	width: 20px;
	border: 1px solid #0000;
}
.reindexDialog .dijitDialogCloseIcon:hover {
	border-color: #fff;
}
.reindexDialog .dijitDialogPaneContent {
	text-align: center;
}
.reindexDialogButtonsContainer {
	padding: 10px 0 5px;
}
#reindexDialogPageSizeInput {
	margin: 15px auto 10px;
}
#reindexDialogMessage {
	font-size: 14px;
}
.reindexDialogButtonsContainer .buttonOk {
	margin-right: 15px;
}
