html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

#layoutContainer {
	width: 100%;
	height: 100%;
}

#filtersContainer {
	width: 250px;
	border-right: 1px solid #d5d5d5;
}

#searchContainer {
	height: 52px;
	border-bottom: 1px solid #d5d5d5;
	overflow: hidden;
	padding: 8px 0px 9px 14px;
}

#resultsContainer {
	padding-left: 14px;
	padding-right: 14px;
	margin-right: 10px;
}

#messageContainer {
	position: relative;
	top: 40%;
	text-align: center;
	font-size: 18px;
	color: #3866b1;
	cursor: pointer;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.boldLabel {
	font-size: 12px;
	font-weight: bold;
	color: #444444;
}

.linkButton {
	font-size: 11px;
	text-decoration: underline;
	color: #3866b1;
	cursor: pointer;
}

/*--------------------------------------------------------------------------------------------------------------------*/

label > input[type=checkbox] {
	display: none;
}

input[type=checkbox] + span {
	padding-left: 24px;
	padding-bottom: 2px;
	font-size: 12px;
	color: #444444;
}

label > input[type=checkbox] + span {
	background: url(../Images/Checkbox.svg) no-repeat;
}

label > input[type=checkbox]:checked + span {
	background: url(../Images/CheckboxChecked.svg) no-repeat;
}

/*--------------------------------------------------------------------------------------------------------------------*/

input[type=button] {
	width: 80px;
	height: 25px;
	padding: 3px 10px;
	color: #fff;
	background-color: #3668b1;
	border: 0;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}

input[type=button]:hover {
	background-color: #5789d0;
}

input[type=button]:nth-child(2) {
	background-color: #5f6871;
}

input[type=button]:nth-child(2):hover {
	background-color: #777f86;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.searchSpinner {
	border: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999999;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background-color: white;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.hidden {
	display: none !important;
}

.transparentImage {
	opacity: 0.3;
	cursor: default !important;
}

.filterDialogButtonsContainer {
	font-size: 0px;
}

.filterDialogButtonsContainer input[type=button]:nth-child(2) {
	margin-left: 8px;
}