body
{
	text-align: center;
	margin: 0;
	background: #efefef;
}

.footer
{
	/*box-shadow: 0 2px 2px #dddddd inset;
	-moz-box-shadow: 0 2px 2px #dddddd inset;	*/
	padding: 10px;
	font-weight: bold;
	font-size: smaller;
	background-color: rgb(0, 144, 208);
	color: white;
}

a 
{
	color: white;
}
