body
{
	margin: 0 0 0 0;	
}

header 
{
	height: 5.5em; 
	border-bottom: solid 1px rgb(225,225,225);	
	display: table;
	width: 100%;		
}

header .images
{
	display: table-cell;
	padding: 10px;	
}

header .logo
{
    height: 68px;	
}

.subheader
{
	float: right;
	margin-right: 10px;
}