body
{
	font-family: HelveticaNeueLTStd-Roman, Helvetica, Arial;
	font-size: 13px;
	color: rgb(60,60,60); /*70*/
}

a
{
    color: rgb(100,100,100); /*125*/
}

a:hover
{
	color: #26ade4;
}

.filename
{
	font-style: italic;
}

.code
{
	font-family: monospace;	
}

hr 
{
	border: none; 
	border-top: 1px solid #ddd;
}

/*Old browsers put a border around linked images*/
a img
{
	border: none;
}

::selection
{
	background: rgb(200,200,200);
}

::-moz-selection 
{
	background: rgb(200,200,200);
}