body
{
	margin: 15px 15px 15px 8px;
	line-height: 1.4em;
	font-size: 100%;
}

h1
{
	font-size: 22px;
}

h2
{
    font-size: 18px;
	margin-top: 24px;
}

h3
{
	font-size: 16px;
	margin-top: 16px;
}

h4
{
	font-size: 14px;
}

ul
{
	padding-top: 0;
	padding-bottom: 0;
	list-style-type: disc;
}

ol, li
{
	margin-top: .2em;
	margin-bottom: .2em;
}

a
{
	text-decoration: underline;
	font-weight: bold;
}

hr 
{
	border: none; 
	border-top: 1px solid rgb(225,225,225);
}

th
{
	white-space: nowrap;
}

.basic-table
{
	border-collapse: collapse;
}

.basic-table tr
{
	border-bottom: 1px solid rgb(225,225,225);
}

.basic-table thead th
{
	padding: .85em;
	font-weight: bold;
}

.basic-table tr td
{
	padding: .85em;
}

.center-all-columns tr td
{
	text-align: center;
}

.center-all-but-first-column tr td:not(:first-child)
{
	text-align: center;
}

.center-first-column tr td:first-child
{
	text-align: center;
}

.bold-first-column tr td:first-child
{
	font-weight: bold;
}

.basic-table tr:last-child 
{ 
    border-bottom: none; 
}

.basic-table table tr
{
	border-bottom: none;
}

.fine-print
{
	font-size: 85%;
}

.fragment 
{
	border: 1px solid rgb(225,225,225);
	background-color: #f5f5f5;
	padding: 4px 6px;
	margin: 4px 8px 4px 2px;
	overflow: auto;
	font-size:  9pt;
	line-height: 125%;
	border-radius: 2px;
}

.fragment pre
{
	margin: 10px;	
}

.indented-pre
{
	margin-left: 40px;
}

.image-caption
{
	font-weight: bold;
	font-size: smaller;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
}

.memitem
{
	border: 1px solid rgb(225,225,225);	
	margin-bottom: 20px;
}

.memproto
{	
	border-bottom: 1px solid rgb(225,225,225);	
	margin-bottom: 10px;
}

.memproto table td
{
	font-weight: bold;
	font-family: monospace;	
}

.memproto table td:first-child
{
	padding-left: 10px;
}

.memproto table td:last-child
{
	padding-right: 10px;
}

.memproto table tr:first-child td
{
	padding-top: 6px;	
}

.memproto table tr:last-child td
{
	padding-bottom: 6px;
}

.memproto table
{
	background-color: #f5f5f5;
}

.api_desc
{
	border: 1px solid rgb(225,225,225);	
	margin-bottom: 20px;
}

.api_title
{
	font-weight: bold;
	background-color: #f5f5f5;
	border-bottom: 1px solid rgb(225,225,225);	
	padding: 6px 10px 6px 10px;
}

.memname tr td
{
	width: 1px;
	white-space: nowrap;
	text-align: left;
}

.memname tr td:last-child
{
	width: 100%;
}

.params dt, dl.return dt
{
	font-weight: bold;	
}

.params table .paramname
{
	font-family: monospace;	
}

.memitem p, .memitem dl
{
	margin: 10px 10px 10px 10px;
}

.api_content
{
	padding: 6px 10px 6px 10px;
}

.api_params
{
	margin-left: 25px;
}

.table_style1
{
	border-collapse: collapse;
}

.table_style1 td 
{
    border-top: 1px solid rgb(225,225,225);
    padding: .85em;
	font-size: 90%;
}

.table_style1 th 
{
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;	
	padding: .85em;
}

/* styling for code snippets */

span.keyword       { color: #008000 }
span.keywordtype   { color: #604020 }
span.keywordflow   { color: #e08000 }
span.comment       { color: #800000 }
span.preprocessor  { color: #806020 }
span.stringliteral { color: #002080 }
span.charliteral   { color: #008080 }
span.vhdldigit     { color: #ff00ff }
span.vhdlchar      { color: #000000 }
span.vhdlkeyword   { color: #700070 }
span.vhdllogic     { color: #ff0000 }

/* end styling for code */

.title {
	font-size: 120%;
	font-weight: bold;
	padding-bottom: 3px;
	padding-top: 10px;
}

.line
{
	white-space: pre;
	font-family: Courier;	
}

img.center
{
	margin-left: auto;
    margin-right: auto;
	display: block;
}
