﻿.additional-icon {
	background-image: url(../Images/flagged.svg);
	width: 22px;
	height: 22px;
	background-size: 22px 22px;
	background-position-x: center;
	background-position-y: center;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	margin-bottom: 2px;
	margin-top: 2px;
	margin-right: 5px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.claro .dijitTooltipContainer {
	color: red;
}

.claro .dijitTreeExpandoClosed,
.claro .dijitTreeRowHover .dijitTreeExpandoClosed {
	width: 0;
	height: 0;
	border-top: 0.38rem solid transparent;
	border-bottom: 0.38rem solid transparent;
	border-left: 0.38rem solid #787878;
	margin-left: 12px;
	padding-left: 9px;
}
