﻿.reference_glyph {
	width: 22px;
	height: 22px;
	background-size: 22px 22px;
	background-position: 0 0;
	position: relative;
}
.aras-toolbar {
	border-top: none;
}
.aras-toolbar__textbox input {
	width: 3rem;
}
.overlay_transparent {
	opacity: 0;
}
.overlay_hidden {
	display: none;
}
.three-quarters-loader {
	display: inline-block;
	width: 33px;
	height: 33px;
}
.centered {
	width: 190px;
	text-align: right;
}
.centered span {
	font-size: 22px;
	margin-left: 25px;
	vertical-align: top;
}
.centered button {
	border: 1px solid #606871;
	border-radius: 2px;
	background: #fff;
	color: #606871;
	outline: none;
	margin-top: 20px;
	width: 100px;
	padding: 5px 0;
}
