﻿body {
}

wbr:after {
	content: '\00200B';
}

.ruleEditorControl {
	padding: 10px !important;
	margin: 5px 0px 5px 5px !important;
	line-height: 30px;
	text-align: left;
	border: 1px solid transparent;
	transition: border-color 0.1s ease;
}

.ruleEditorControl.Disabled {
	background-color: #f6f6f6;
	border-color: #e0e0e0;
}

.ruleEditorControl.editorInvalidInput {
	border-color: #c96a59;
}

.ruleEditorControl .menuAnchorNode {
	position: absolute;
	visibility: hidden;
	width: 1px;
	height: 10px;
}

.intellisenseMenu .dijitMenuItem .dijitMenuArrowCell {
	width: 16px;
}

.intellisenseMenu .dijitMenuItem.selectedMenuItem .dijitMenuArrowCell {
	background-image: url('../../../images/Checkmark.svg') !important;
	background-position: 4px 5px;
	background-size: 13px 13px !important;
	background-repeat: no-repeat;
}

.inputGroup {
	position: relative;
	display: inline-block;
	margin-bottom: 14px;
	padding: 3px;
	line-height: 22px;
	vertical-align: middle;
	font-size: 14px;
	width: 100%;
}

.ruleEditorControl:not(.Disabled) .inputGroup:not(.focusedGroup) {
	outline: 1px dotted #c0c0c0;
}

.editorContentNode {
	width: 100%;
	height: 100%;
	outline: none;
}

.inputGroup.focusedGroup {
	outline: none;
}

.inputGroup .groupContent {
	padding: 0px 5px 0px 5px;
	min-height: 22px;
}

.inputGroup .groupContent:focus {
	outline: none;
}

.inputGroup .focusMark {
	display: none;
}

.inputGroup.emptyGroup {
	opacity: 0.5;
}

.inputGroup.inactiveGroup {
	display: none;
}

.staticGroup {
	min-width: 20px;
	background-color: #2573ba;
	color: #ffffff;
	text-align: center;
}

.inputGroup.staticGroup:focus {
	border-bottom: 1px dashed #ffffff;
}

.inputGroup.selectGroup {
	min-width: 40px;
	color: #404040;
	text-align: center;
}

.inputGroup.multiSelectGroup {
	text-align: left;
}

.inputGroup.selectGroup p,
.inputGroup.selectGroup font {
	display: inline-block;
	font-size: inherit;
	margin: 0px;
}

.inputGroup + .inputGroup {
	margin-left: 10px;
}

.inputGroup.invalidInput {
	background-color: #e39981 !important;
	color: #b83b1d !important;
}

.inputGroup.operandsInputGroup {
	margin-left: 20px;
	margin-right: 20px;
	min-width: 30px;
}

.inputGroup.conditionInputGroup {
	min-width: 25px;
	background-color: #76a797;
	color: #ffffff;
}

.inputGroup.thenGroup {
	background-color: #2573ba;
	color: #ffffff;
}

.inputGroup.multiSelectGroup {
	border: none;
}

.grammarInputGroup.emptyGroup {
	opacity: 1;
}

.grammarInputGroup .groupContent {
	padding-right: 20px;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.grammarInputGroup .groupContent .Lexem::selection {
	background-color: #f8eec0;
	color: #7d7138;
}

.grammarInputGroup.invalidInput {
	background-color: transparent !important;
}

.grammarInputGroup .Lexem {
}

.Disabled .grammarInputGroup .Lexem {
	background-color: transparent !important;
	color: #505050 !important;
}

.invalidInput .Lexem {
	color: #404040;
}

.Lexem.InvalidLexem {
	color: #c96a59 !important;
	background-color: transparent !important;
}

.Lexem.unknown {
	color: #808080;
	border-bottom: 1px dashed red;
}

.multiSelectGroup:before {
	position: absolute;
	z-index: 10;
	content: '';
	left: -4px;
	width: 8px;
	top: -3px;
	bottom: -3px;
	border-left: 2px solid #808080;
	border-radius: 50%;
}

.multiSelectGroup:after {
	position: absolute;
	z-index: 10;
	content: '';
	right: -4px;
	width: 8px;
	top: -3px;
	bottom: -3px;
	border-right: 2px solid #808080;
	border-radius: 50%;
}
