﻿@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		@@import '@Url.ContentWithSalt("~/javascript/include.aspx?classes=dijitClaro.css")';
		@@import "@Url.ContentWithSalt("~/javascript/include.aspx?files=claroGrid.css")";
		@@import '@Url.ContentWithSalt("~/styles/controls/toolbar.css")';
		@@import '@Url.ContentWithSalt("~/styles/controls/dialog.css")';
		@@import '@Url.ContentWithSalt("~/styles/controls/menu.css")';
		@@import '@Url.ContentWithSalt("~/Modules/aras.innovator.TDF/Styles/SearchComponent.css")';
		@@import '@Url.ContentWithSalt("~/Modules/aras.innovator.TDF/Styles/EditorViewPanel.css")';
		@@import '@Url.ContentWithSalt("~/Modules/aras.innovator.TDF/Styles/EditorViewTreeGrid.css")';
	</style>
	<script type="text/javascript" src="../../javascript/include.aspx?classes=/dojo.js" data-dojo-config="packages: [{ name: 'TechDoc', location: '../../Modules/aras.innovator.TDF/Scripts' }], isDebug: false, parseOnLoad: false, baseUrl:'../../javascript/dojo'"></script>
	<script type="text/javascript" src="../../javascript/dojo/commonForToolbarAndGrid.js"></script>
	<script type="text/javascript" src="../../javascript/include.aspx?classes=XmlDocument,polyfillsBundle"></script>
	<script type="text/javascript" src="../../Modules/aras.innovator.TDF/Scripts/Aras/Client/Controls/TechDoc/EditorViewPanelController.js"></script>
</head>
<body class="claro techDocEditor">
	<div class="viewHeader">
		<span class="statusMark">&#x25CF;</span>
		<span class="documentInfo"></span>
		<span class="editInfo"></span>
		<span class="filterInfo"></span>
	</div>
	<div id="borderContainer" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline', gutters:false">
		<div id="toolbarContainer" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" baseClass="dijitContentPaneNoPadding"></div>
		<div id="htmlContainer" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline', region:'center', gutters:false, liveSplitters:false" >
			<div id="treeContainer"  data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left', splitter:true, minSize: 100" style="padding: 2px 6px 8px 15px; width:300px; height:100%;"  baseClass="dijitContentPaneNoPadding">
				<div class="treeToggleButton"></div>
				<div id="techDocTree" style="height:100%;"></div>
			</div>
			<div id="techDocHtmlEditor" data-dojo-type="TechDoc/Aras/Client/Controls/TechDoc/Editor" data-dojo-props="region:'center', splitter:true, structuredDocument: viewContext.data.structuredDocument,"></div>
		</div>
		<div id="xmlContainer" class="inactiveDisplayContainer" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center', gutters:false" baseClass="dijitContentPaneNoPadding">
			<iframe class="xmlContentFrame" frameborder="0"></iframe>
		</div>
	</div>
</body>
</html>