﻿<!DOCTYPE html>
<!-- (c) Copyright by Aras Corporation, 2005-2014. -->
<html>
<head>
	<link rel="stylesheet" href="../../javascript/dojo/../dijit/themes/claro/claro.css">
	<style type="text/css">
		body
		{
			margin: 0;
			overflow: hidden;
		}
	</style>
	<script>
		dojoConfig = {
			parseOnLoad: false,
			packages: [
				{ name: "TechDoc", location: "../../Modules/aras.innovator.TDF/Scripts" }
			]
		}
	</script>
	<script type="text/javascript" src="../../javascript/include.aspx?classes=XmlDocument"></script>
	<script src='../../javascript/dojo/dojo.js'></script>
	<script src='../../javascript/include.aspx?classes=QueryString'></script>
</head>
<body class="claro" />
</html>
