﻿/* Do NOT use this file. It is left only to avoid AML changes in 10.0 X service packs*/
@import 'controls/configurableGrid.css';
@import 'controls/dialog.css';
@import 'controls/grid.css';
@import 'controls/mainTree.css';
@import 'controls/menu.css';
@import 'controls/popupMessages.css';
@import 'controls/statusbar.css';
@import 'controls/tabs.css';
@import 'controls/toolbar.css';
@import 'controls/treeGrid.css';

.aras_tree td.dojoxGridCell .treeExpandoLeaf , .aras_tree tr.dojoxGridNoChildren td.dojoxGridCell img.treeExpandoLeafNoChilds {
	background-image: url("../../javascript/dijit/themes/tundra/images/treeExpand_leaf.gif");
}

.aras_tree tr.dojoxGridRowCollapsed td.dojoxGridCell .vertical_line, .aras_tree tr.dojoxGridRowCollapsed td.dojoxGridCell:first-child , .aras_tree tr[dojoxtreegridpath*="/"].aras_treegrid_may_have_children td.dojoxGridCell.dojoxGridExpandoCell, .aras_tree tr.aras_treegrid_may_have_children td .vertical_line, .aras_tree .aras_vertical_line_for_parent {
	background-image: url("../../javascript/dijit/themes/tundra/images/i.gif");
}

.aras_tree tr.aras_treegrid_may_have_children td.dojoxGridCell.dojoxGridExpandoCell {
	background-image: url("../../javascript/dijit/themes/tundra/images/i_half.gif");
}

.aras_tree .dojoxGridRow .dojoxGridRowTable tr:last-child td.dojoxGridCell.dojoxGridExpandoCell div.vertical_line, .aras_tree .dojoxGridRow .dojoxGridRowTable tr:last-child td.dojoxGridCell.dojoxGridExpandoCell div.vertical_line.dojoxGridExpandoOpened , .aras_tree tr.aras_treegrid_last_child_row.dojoxGridRowCollapsed td.dojoxGridCell .vertical_line, .aras_tree tr.aras_treegrid_last_child_row td.dojoxGridCell .vertical_line, .aras_tree .dojoxGridRow:first-child .dojoxGridRowTable tr.dojoxGridRowEditing.aras_treegrid_may_have_children td.dojoxGridCellFocus div.vertical_line, .aras_tree .dojoxGridRow .dojoxGridRowTable tr[dojoxtreegridpath="0"].dojoxGridRowEditing.aras_treegrid_may_have_children:last-child td.dojoxGridCellFocus.dojoxGridExpandoCell div.vertical_line, .aras_tree tr.aras_treegrid_may_have_children.dojoxGridRowEditing.aras_treegrid_may_have_children[dojoxtreegridpath="0"] td.dojoxGridCellFocus .vertical_line {
	background-image: url("../../javascript/dijit/themes/tundra/images/i_half.gif") !important;
}
