﻿/* form elements */
input, button, textarea {
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
	padding: 2px 1px 1px 1px;
	padding-bottom: 2px \0/IE9 ;
}

textarea {
	line-height: 1.4;
	padding: 1px;
}

textarea, input {
	border: 1px solid #505050;
	color: #444;
}

input[disabled], input[readonly], textarea[disabled], textarea[readonly], .btn[disabled]:hover {
	color: #808080;
	background-color: #fff;
	border-color: #b3b3b3;
	box-shadow: none;
}

 input[readonly],textarea[readonly] {
	 color: #444444;
}

input.sys_special_readonly_prop {
	border: 1px solid #505050;
	color: #444;
	box-shadow: none;
}

input.sys_special_readonly_prop_disabled {
	color: #444444;
	background-color: #fff;
	border-color: #b3b3b3;
	box-shadow: none;
}

input[type="checkbox"].arasCheckboxOrRadio, input[type="radio"].arasCheckboxOrRadio {
	position: absolute;
	z-index: 10;
	opacity: 0;
}

input[type="checkbox"].arasCheckboxOrRadio + label:before, input[type="radio"].arasCheckboxOrRadio + label:before, .arasRadioSpec {
	content: '';
	display: inline-block;
	background: url('../images/checkbox-unchecked.svg') 0 0 no-repeat;
	width: 14px;
	height: 14px;
	margin-right: 4px;
	vertical-align: -5px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-size: 14px 14px;
}

input[type="radio"].arasCheckboxOrRadio + label:before, .arasRadioSpec {
	background: url('../images/radio-bt.svg') 0 0 no-repeat;
	background-size: 14px 14px; 
}

input[type="checkbox"].arasCheckboxOrRadio:checked + label:before {
	background-image: url('../images/checkbox-checked.svg');
}

input[type="checkbox"][required].arasCheckboxOrRadio + label:before {
	background-image: url('../images/checkbox-requirement.svg');
}

input[type="checkbox"][required].arasCheckboxOrRadio:checked + label:before {
	background-image: url('../images/checkbox-requirement-checked.svg');
}

input[type="radio"][disabled].arasCheckboxOrRadio + label, input[type="checkbox"][disabled].arasCheckboxOrRadio + label {
	color: #6e6e6e;
}

input[type="checkbox"][disabled].arasCheckboxOrRadio + label:before {
	background-image: url('../images/checkbox-disabled.svg');
}

input[type="checkbox"][disabled].arasCheckboxOrRadio:checked + label:before {
	background-image: url('../images/checkbox-disabled-checked.svg');
}

input[type="radio"].arasCheckboxOrRadio:checked + label:before {
	background-image: url('../images/radio-bt-checked.svg');
}

input[type="radio"][required].arasCheckboxOrRadio + label:before {
	background-image: url('../images/radio-bt-requirement.svg');
}

input[type="radio"][required].arasCheckboxOrRadio:checked + label:before {
	background-image: url('../images/radio-bt-requirement-checked.svg');
}

input[type="radio"][disabled].arasCheckboxOrRadio + label:before {
	background-image: url('../images/radio-bt-disabled.svg');
}

input[type="radio"][disabled].arasCheckboxOrRadio:checked + label:before {
	background-image: url('../images/radio-bt-disabled-checked.svg');
}

input[type="checkbox"], input[type="radio"] {
	border: 0px none;
}

input:-moz-placeholder {
	color: #8A8A8A !important;
	font-style: italic !important;
}

label {
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hidden {
	display: none;
}

.elipsis_button {
	width: auto;
	height: auto;
	max-height: 16px;
	max-width: 16px;
	border: none;
}

.form_btn, .btn {
	display: inline-block;
	border: none;
	color: #fff;
	background-color: #3668b1;
	padding: 3px 10px !important;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	cursor: pointer;
	vertical-align: top;
	height: 25px;
}

.btn {
	min-width: 82px;
}

.btn.cancel_button:hover {
	background-color: #777f86;
	text-decoration: none;
}

.btn.cancel_button {
	background-color: #5F6871; 
}

input.btn:focus {
	box-shadow: none;
}

.btn:hover {
	background-color: #5789d0;
	text-decoration: none;
}

.btn.disabled {
	color: #fff;
	background-color: #ccc;
	cursor: default;
}

.sys_ft_checkbox.sys_p_is_required input, .sys_ft_checkbox_list.sys_p_is_required input, .sys_ft_date.sys_p_is_required input, .sys_ft_dropdown.sys_p_is_required select, .sys_ft_file_item.sys_p_is_required input, .sys_ft_item.sys_p_is_required input, .sys_ft_listbox_multi_select.sys_p_is_required select, .sys_ft_listbox_single_select.sys_p_is_required select, .sys_ft_ml_string.sys_p_is_required input, .sys_ft_password.sys_p_is_required input, .sys_ft_radio_button_list.sys_p_is_required input, .sys_ft_text.sys_p_is_required input, .sys_ft_textarea.sys_p_is_required textarea {
	background-color: #dde7f5;
}

.sys_f_label, .sys_f_legend {
	font: normal 12px/1.4 Tahoma, Arial, Helvetica, sans-serif;
	color: #444444;
	font-weight: normal;
}

.sys_fn_item_info .sys_f_border {
	padding: 0;
}

.arasPlainLink {
	color: #3668B1;
	text-decoration: underline;
}

/* Form select */
.aras_form_select {
	border-color: #505050 !important;
	border-style: solid none solid solid;
}

.aras_form_select .DropDownArrowButtonInner {
	background: url("../images/dropdown-arrow.svg") transparent 0 bottom no-repeat !important;
	background-size: 15px 15px !important;
	margin: 0px !important;
	padding: 0px !important;
	max-height: 15px !important;
	max-width: 15px !important;
	height: 15px !important;
	width: 15px !important;
}

.aras_form_select .DropDownArrowButtonInner:hover {
	background: url("../images/dropdown-hover.svg") transparent 0 bottom no-repeat !important;
	background-size: 15px 15px !important;
}

.aras_form_select .dijitButtonNode {
	border: 0px none;
	vertical-align: bottom;
}

.claro .dijitSelectLabel {
	margin-bottom: 0px;
}

.aras_form_select .dijitSelectLabel, .aras_form_select .dijitTextBox .dijitInputInner, .aras_form_select .dijitValidationTextBox .dijitValidationContainer {
	padding: 0px;
}
/* end of Form select */
/* end of form elements */