﻿/* Clock on main window */
.time-wrap {
	float: right;
	background-color: #fff;
	margin-top: 7px;
	margin-right: 5px;
}

.time-block {
	position: relative;
	margin-right: 5px;
	padding: 0 10px;
	float: left;
	border-right: 1px solid #d4d4d4;
}

.time-block h4 {
	top: 4px;
	left: 4px;
	margin: 0;
	font-size: 12px;
	line-height: 1;
	font-weight: normal;
	text-transform: uppercase;
	color: #444;
}

.time-block .text {
	display: inline-table;
}

.time-block .date {
	font-size: 11px;
	color: #7f7f7f;
	padding-right: 25px;
}

.current-time {
	display: inline-block;
	width: auto;
	text-align: right;
	float: right;
	font-size: 30px;
	line-height: 1;
}

.current-time sup {
	font-size: 10px;
	color: #7f7f7f;
	text-transform: uppercase;
	vertical-align: 15px;
	margin-left: -7px;
}

@media screen and (max-width: 1100px) {
	#today_block {
		display: none;
	}
}
/* end of Clock on main window */