﻿/* Main window */
body {
	font: 12px/1.4 Tahoma, Arial, Helvetica, sans-serif;
	color: #444;
	margin: 0;
}

#menu, #banner {
	width: 100%;
}

#banner {
	height: 45px;
}

/* Header */
.header-logo {
	height: 45px !important;
	max-height: 45px !important;
	margin-bottom: 2px;
}

.profile{
	float: right;
	width: auto;
	min-width: 80px;
	margin: 2px 10px 0 0;
}

.profile-img {
	float: left;
	border: 1px solid #d4d4d4;
	height: 30px;
	width: 30px;
	margin: 4px 10px 0 0;
}

.profile-name {
	display: inline;
	color: #444444;
	margin: 0;
	white-space: nowrap;
	max-width: 250px;
	min-width: 50px;
}

.profile-logout {
	margin: 0;
}
.profile-logout > a {
	color: #5d5d5d;
}
/* end of Header */

#leading {
	width: 15rem;
}

#togglePanel {
	width: 1.2rem;
	padding: 5px;
	background-color: #f6f6f6;
	border-right: 1px solid #D4D4D4;
}
#togglePanel:hover {
	background-color: #dde7f5;
}

#bottom, #BorderContainer, #center, #centerMiddle {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
/* end of Main window */