@keyframes three-quarters-loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.three-quarters-loader {
	animation: three-quarters-loader 1250ms infinite linear;
	border: 6px solid #cc2036;
	border-right-color: transparent;
	border-radius: 100%;
	box-sizing: border-box;
	width: 38px;
	height: 38px;
}

.centered {
	position: absolute; /* not fixed, because needed centering not only in window */
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

[id*="dimmer_spinner"] {
	border: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999999;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background-color: white;
}

[id*="dimmer_spinner"].disabled-spinner {
	display: none;
}