﻿html,
body,
.aras-grid-row:nth-child(odd):not(:hover):not(.aras-grid-row_selected) {
	background-color: #fff;
}

.aras-grid-header,
.aras-grid-active-cell {
	display: none;
}

.aras-grid-viewport {
	table-layout: auto;
}

.aras-grid-row-cell {
	border-width: 0;
	overflow: visible;
}

.aras-grid-scroller,
.aras-grid-scroller table {
	width: 100% !important;
}

.aras-form-icon {
	width: auto;
	height: auto;
	max-width: 16px;
	max-height: 16px;
	padding-right: 7px;
	vertical-align: sub;
}
