﻿@{
	ViewBag.syncMode = 1;
	Layout = "Shared/_Layout.cshtml";
}
@section header
{
	<style type="text/css">
		#editor {
			position: absolute;
			width: 100%;
			border: 0px;
		}
		#tearoff_menu {
			display: none;
		}
		#center {
			width: 100%;
			top: 0;
			bottom: 23px;
			overflow:hidden;
			position:relative;
			padding:0px;
		}
	</style>
	<script type="text/javascript" id="lctool_window_script" src="@Url.ContentWithSalt("~/javascript/lctool_window.js")"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.core.ItemWindow/Scripts/lifecycleView.js")"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/item_window_common.js")"></script>
}
@section center
{
	<iframe id="editor" src="@Url.ContentWithSalt("~/scripts/blank.html")" scrolling="no" frameborder="0" width="100%" height="100%"></iframe>
}