﻿@{
	Layout = "Shared/_Layout.cshtml";
}
@section header
{
	<style type="text/css">
		@@import "@Url.ContentWithSalt("~/styles/default.css")";
	</style>
	<script type="text/javascript">
		var urlToResources =
		{
			progressBarGif: '@Url.ContentWithSalt("~/images/Progress.gif")',
			blankPage: '@Url.ContentWithSalt("~/scripts/blank.html")',
			workflowEditor: '@Url.ContentWithSalt("~/scripts/Workflow/workflowEditor.html")',
		};
	</script>
	<script type="text/javascript" id="wftool_window_script" src="@Url.ContentWithSalt("~/javascript/wftool_window.js")"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/item_window_common.js")"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.core.ItemWindow/Scripts/workflowView.js")"></script>
}
@section center
{
<!------ workflowtool.html page content -------------------------------------------------------------------------->
	<script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.core.ItemWindow/Scripts/workflowtool.js")"></script>
	<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="liveSplitters:false, gutters:false" id="worflowToolContent" style="height: 100%">
		<div  id="editorPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top', splitter:true, style:'overflow:hidden; height:40%; padding:0px;'">
			<iframe id="editor" src="@Url.ContentWithSalt("~/scripts/blank.html")" frameborder="no" scrolling="no" marginwidth="0" marginheight="0" style="position:relative; width:100%; height:100%;"></iframe>
		</div>
		<div id="forms" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center', splitter:true, style:'overflow:hidden; height:35%; padding:0px;'"></div>
		<div id="relationshipsPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom', splitter:true, style:'overflow:hidden; padding:0px;'">
			<iframe id="tabs" src="@Url.ContentWithSalt("~/scripts/blank.html")" onload="setFlag('tabsFReady',true);" frameborder="no" scrolling="auto" marginwidth="0" marginheight="0" style="position:relative; width:100%; height:100%"></iframe>
		</div>
	</div>
<!------ end of workflowtool.html page -------------------------------------------------------------------------->
}