﻿@using System
@using System.Linq
@using System.Text.RegularExpressions
@using System.Web.Mvc.Html
@using Models
@using Models.AML.Enums
@using Models.AML.ItemTypes
@using Models.Helpers
@model FieldToDraw
@{
	var fieldNode = Model.FieldNode;
	var propNode = Model.PropertyNode;

	var mode = Model.Mode;
	var itemTypeNode = Model.ItemType;

	if (fieldNode == null)
	{
		return;
	}

	if (propNode != null)
	{
		if (propNode.DataType == "foreign")
		{
			propNode = Model.CommonInfo.ForeignInfo.FirstOrDefault(item => item.Key == propNode.Id).Value;
		}
	}
	if (!Model.CommonInfo.SkipComponents)
	{
		switch (fieldNode.FieldType)
		{
			case FieldType.Item:
				if (!(propNode != null && propNode.DataSource != null
					&& propNode.DataSource.Name == "File" && Model.Mode != "search"))
				{
					@Html.Partial("Partial/ComponentFieldMain", Model);
				} else if (propNode.DataSource.Name == "File") {
					break;
				}
				return;
			case FieldType.DropDown:
				if (propNode.DataType != "color list")
				{
					@Html.Partial("Partial/ComponentFieldMain", Model);
					return;
				}
				break;
			case FieldType.ClassStructure:
				@Html.Partial("Partial/ComponentFieldMain", Model)
				return;
			case FieldType.XClasses:
				@Html.Partial("Partial/ComponentFieldMain", Model);
				return;
		}
	}

	var allLanguages = Model.CommonInfo.AllLanguages;

	var regExSpace = new Regex(@"\s", RegexOptions.CultureInvariant | RegexOptions.IgnoreCase | RegexOptions.Compiled);

	var fieldType = fieldNode.FieldType;
	var fieldId = fieldNode.Id;
	var fieldName = fieldNode.Name;

	var propDataType = String.Empty;
	var propName = String.Empty;
	var isRequired = false;
	var propIsReadOnly = false;
	if (propNode != null)
	{
		propDataType = propNode.DataType;
		propName = propNode.Name;
		isRequired = propNode.IsRequired;
		propIsReadOnly = propNode.ReadOnly;
	}

	var languageCode = Model.CommonInfo.JSInfo.LanguageCode;
	Language sessionLanguage = allLanguages.FirstOrDefault(tmp => string.Equals(tmp.Code, languageCode, StringComparison.OrdinalIgnoreCase));
	Language fieldLabelLanguage = fieldNode.Label.IsNull ? null : allLanguages.FirstOrDefault(tmp => string.Equals(tmp.Code, fieldNode.Label.Lang, StringComparison.OrdinalIgnoreCase));
	string sessionLanguageDirection = sessionLanguage != null ? sessionLanguage.Direction.Value : null;
	string fieldLabelLanguageDirection = fieldLabelLanguage != null ? fieldLabelLanguage.Direction.Value : null;

	var sessLangDirection = "sys_session_lang_direction_" + (string.IsNullOrEmpty(sessionLanguageDirection) ? "ltr" : sessionLanguageDirection);
	var fieldLabelLangDirection = "sys_label_lang_direction_" + (string.IsNullOrEmpty(fieldLabelLanguageDirection) ? "ltr" : fieldLabelLanguageDirection);

	var sysContainer = String.IsNullOrEmpty(Model.GroupBoxOrientation) ? "sys_f_container" : "sys_f_container sys_f_container_in_" + Model.GroupBoxOrientation + "_groupbox";
}<!--


beginning of @(fieldName)
--><div id="@(fieldId)span" name="@(fieldName)"
	class="@(sysContainer) @(sessLangDirection) @(fieldLabelLangDirection) @(String.IsNullOrEmpty(propDataType) ? String.Empty : "sys_dt_" + regExSpace.Replace(propDataType, "_")) @(isRequired ? "sys_p_is_required" : String.Empty) @(propIsReadOnly ? "sys_p_is_readonly" : String.Empty) @("sys_ft_" + regExSpace.Replace(SerializeUtils.GetFieldTypeName(fieldType), "_").ToLowerInvariant()) @("sys_fn_" + regExSpace.Replace(fieldName, "_")) @(String.IsNullOrEmpty(propName) ? String.Empty : ("sys_pn_" + regExSpace.Replace(propName, "_")))"
	style="@(fieldNode.Positioning.IsNull ? String.Empty : "position:" + fieldNode.Positioning.Value + ";") @(!fieldNode.Y.IsNull ? "top: " + fieldNode.Y + "px;" : String.Empty) @(!fieldNode.X.IsNull ? "left: " + fieldNode.X + "px;" : String.Empty) @(fieldNode.Width.IsNull ? String.Empty : "width: " + fieldNode.Width.Value + "px;") @(fieldNode.Height.IsNull ? String.Empty : "height: " + fieldNode.Height.Value + "px;") @(fieldNode.ZIndex.IsNull ? String.Empty : "z-index: " + fieldNode.ZIndex.Value+";") @(fieldNode.IsVisible ? String.Empty : "visibility:hidden;")">
	<fieldset class="sys_f_border" style="border-style: solid; border-color: #ADAA9C; @(!fieldNode.BorderWidth.IsNull && !string.IsNullOrEmpty(fieldNode.BorderWidth.Value) ? "border-width: " + fieldNode.BorderWidth.Value + (System.Text.RegularExpressions.Regex.IsMatch(fieldNode.BorderWidth.Value, @"\d$") ? "px;" : String.Empty) : String.Empty)">
		@{
			if (!string.IsNullOrEmpty(fieldNode.Legend.Value))
			{
				@:<legend class="sys_f_legend">@Html.Raw(fieldNode.Legend.Value)</legend>
			}

			var labelPosition = !String.IsNullOrEmpty(fieldNode.LabelPosition) ? fieldNode.LabelPosition : "left";

			var firstContainerClass1 = String.Empty;  // 1st class name for the first container (e.g. sys_f_label_container)
			var firstContainerClass2 = String.Empty;  // 2nd class name for the first container (e.g. sys_f_label_top)
			var firstContainerClass3 = String.Empty;  // 3rd class name for the first container (e.g. sys_f_empty_label_container)
			var secondContainerClass1 = String.Empty; // the same for the second container
			var secondContainerClass2 = String.Empty;
			var secondContainerClass3 = String.Empty;

			var additionalLabelCssClasses = fieldNode.Label.IsNull ? "sys_f_empty_label_container" : String.Empty;
			var additionalValueCssClasses = String.Empty;


			var textAlign = !fieldNode.TextAlign.IsNull ? "text-align:" + fieldNode.TextAlign.Value + ";" : String.Empty;

			var firstContainerStyle1 = String.Empty;
			var secondContainerStyle1 = String.Empty;

			switch (labelPosition)
			{
				case "left":
					firstContainerClass1 = "sys_f_label_container";
					firstContainerClass2 = "sys_f_label_left";
					firstContainerClass3 = additionalLabelCssClasses;
					secondContainerClass1 = "sys_f_value_container";
					secondContainerClass2 = "sys_f_value_right";
					secondContainerClass3 = additionalValueCssClasses;
					firstContainerStyle1 = textAlign;
					break;
				case "top":
					firstContainerClass1 = "sys_f_label_container";
					firstContainerClass2 = "sys_f_label_top";
					firstContainerClass3 = additionalLabelCssClasses;
					secondContainerClass1 = "sys_f_value_container";
					secondContainerClass2 = "sys_f_value_bottom";
					secondContainerClass3 = additionalValueCssClasses;
					firstContainerStyle1 = textAlign;
					break;
				case "right":
					firstContainerClass1 = "sys_f_value_container";
					firstContainerClass2 = "sys_f_value_left";
					firstContainerClass3 = additionalValueCssClasses;
					secondContainerClass1 = "sys_f_label_container";
					secondContainerClass2 = "sys_f_label_right";
					secondContainerClass3 = additionalLabelCssClasses;
					secondContainerStyle1 = textAlign;
					break;
				case "bottom":
					firstContainerClass1 = "sys_f_value_container";
					firstContainerClass2 = "sys_f_value_top";
					firstContainerClass3 = additionalValueCssClasses;
					secondContainerClass1 = "sys_f_label_container";
					secondContainerClass2 = "sys_f_label_bottom";
					secondContainerClass3 = additionalLabelCssClasses;
					secondContainerStyle1 = textAlign;
					break;
			}

			@:<table cellspacing="0" cellpadding="0" class="sys_f_table">
			@:	<tbody class="sys_f_tbody">
			@:	   <tr class="sys_f_tr">
			@:			<td class="@(firstContainerClass1) @(firstContainerClass2) @(firstContainerClass3)" style="@(firstContainerStyle1)">
								if (labelPosition == "left" || labelPosition == "top")
								{
									var fontFamily = !String.IsNullOrEmpty(Model.FieldNode.FontFamily) ? "font-family:" + Model.FieldNode.FontFamily + ";" : String.Empty;
									var fontSize = !String.IsNullOrEmpty(Model.FieldNode.FontSize) ? "font-size:" + Model.FieldNode.FontSize + ";" : String.Empty;
									var fontWeight = !String.IsNullOrEmpty(Model.FieldNode.FontWeight) ? "font-weight:" + Model.FieldNode.FontWeight + ";" : String.Empty;
									var fontColor = !String.IsNullOrEmpty(Model.FieldNode.FontColor) ? "color:" + Model.FieldNode.FontColor + ";" : String.Empty;
									var label = !Model.FieldNode.Label.IsNull ? Model.FieldNode.Label.Value : String.Empty;

									@:<div class="sys_f_label" style="@(fontFamily)@(fontSize)@(fontWeight)@(fontColor)">@Html.Raw(String.IsNullOrEmpty(label) ? "" : MethodsExUtils.PreserveTags(label))</div>
									@:</td>
									if (labelPosition == "top") // Append tr
									{
										@:</tr>
										@:<tr class="sys_f_tr">
									}
									@:<td class="@(secondContainerClass1) @(secondContainerClass2) @(secondContainerClass3)" style="@(secondContainerStyle1)">
								}

								if (mode == "add" && fieldType != FieldType.ClassStructure)
								{
									mode = "edit";
								}

								// Base information for field rendering
								var renderModel = new FieldRenderModel
								{
									FieldType = fieldType,
									FieldNode = fieldNode,
									PropertyNode = propNode,
									ItemTypeNode = itemTypeNode,
									AllLanguages = allLanguages,
									ListNode = Model.CommonInfo.ListInfo,
									FilterListNode = Model.CommonInfo.FilterListInfo,
									ResourceNode = Model.CommonInfo.ResourceInfo,
									ForeignPropertyNode = Model.CommonInfo.ForeignInfo,
									Mode = mode,
									BrowserType = BrowserHelper.ToBrowserType(Model.CommonInfo.JSInfo.BrowserCode)
								};

								//the helper is to avoid extra new line for field html
								@helper RenderField(FieldType fieldType, FieldRenderModel renderModel)
								{
									switch (fieldType)
									{
										case FieldType.Html:

											string htmlCode = renderModel.FieldNode.HtmlCode.IsNull ? string.Empty : renderModel.FieldNode.HtmlCode.Value;

											var idsOfBodiesToReplace = new HashSet<string>();
											idsOfBodiesToReplace.Add("2A0A9404985D437D92A5E2ADF27F7B89"); //Form/Body's id of Form PM_projectOnAdd.xml
											idsOfBodiesToReplace.Add("4A5079BE15D54AE1B80695FBF8A3DDD0"); //Form/Affected Item Property.xml
											idsOfBodiesToReplace.Add("FA5DF0A67EBC4B42A0D4CB01C767D1CD"); //Form/Affected Item.xml
											idsOfBodiesToReplace.Add("13C38F9853F1408AB4AFEBD8BC3E18D8"); //Form/Affected Relationship Property.xml
											idsOfBodiesToReplace.Add("F2583AAC74D648B1AA9D78FD0DE4098F"); //Form/Affected Relationship.xml
											idsOfBodiesToReplace.Add("DFF199AD4E6940DBABAF99415CFB2D3F"); //Form/CAD Instance.xml
											idsOfBodiesToReplace.Add("718B77DDE2C44AE886A82CFE9044A89E"); //Form/CAD Part.xml
											idsOfBodiesToReplace.Add("D36EC413906141F7B47ACC1D93A591CD"); //Form/CAD Structure.xml
											idsOfBodiesToReplace.Add("78FF67B806994D3BAE0354222986B938"); //Form/CAD.xml
											idsOfBodiesToReplace.Add("4053A439F0DD43CC9CA57FAA4217E911"); //Form/Change Controlled Item.xml
											idsOfBodiesToReplace.Add("14475B76311C4AD7BBD49BD19AEB0D0B"); //Form/Change Controlled Relationship.xml
											idsOfBodiesToReplace.Add("5EBD2271341A4E27996424A5D5562F72"); //Form/Customer.xml
											idsOfBodiesToReplace.Add("1616C23245254BAD80BECBEC29A02D16"); //Form/Document.xml
											idsOfBodiesToReplace.Add("DF80004A9D034E1BB6A05CDB459A0409"); //Form/ECN ECR.xml
											idsOfBodiesToReplace.Add("E4256CAF56B74BB2B8A63E52BA463BA9"); //Form/ECN File.xml
											idsOfBodiesToReplace.Add("C219EA6A950048DB804D1A5971C446B1"); //Form/ECN.xml
											idsOfBodiesToReplace.Add("6C9E804756944A3394FCBFB02D6D783C"); //Form/ECR File.xml
											idsOfBodiesToReplace.Add("D3EBC4EEC7264040B96DE0A83429B3EF"); //Form/ECR PR.xml
											idsOfBodiesToReplace.Add("ECFCFCA469934FE6AEB2846555F8009F"); //Form/ECR.xml
											idsOfBodiesToReplace.Add("ECC7E36DDBC448DFBC10CA94BB972229"); //Form/Express DCO.xml
											idsOfBodiesToReplace.Add("16953888D9844B94BD083F57493E8D3D"); //Form/Express ECO.xml
											idsOfBodiesToReplace.Add("1FB2C3C08B28419E890A756C90A90C4D"); //Form/Manufacturer Part.xml
											idsOfBodiesToReplace.Add("2EFEDA46645F4CB79CF813CE1796E414"); //Form/Manufacturer.xml
											idsOfBodiesToReplace.Add("1756CA22DAB14BCE80B298C1E6FE92C3"); //Form/PE_MainPreferences.xml
											idsOfBodiesToReplace.Add("062CFFF7AE2D44099368821920E776B6"); //Form/PR File.xml
											idsOfBodiesToReplace.Add("12D89FDBF0EA46E9AEF77DD43DC64BE4"); //Form/PR.xml
											idsOfBodiesToReplace.Add("4E00E2975553402DAB4180941C83F124"); //Form/Part AML Editor.xml
											idsOfBodiesToReplace.Add("833E88A21B0B42D79B0B064623E02050"); //Form/Part Alternate.xml
											idsOfBodiesToReplace.Add("F4376759410D4B6B8411B7BE9C90A304"); //Form/Part BOM.xml
											idsOfBodiesToReplace.Add("EC04D8981A89491AAB8AA533DE20B531"); //Form/Part MultiLevel BOM.xml
											idsOfBodiesToReplace.Add("83907DEF8B3044A08BDCBB77B1C0517E"); //Form/Part.xml
											idsOfBodiesToReplace.Add("DBDF78DB0AD54FC0AE47E01D1CA01FD3"); //Form/Product.xml
											idsOfBodiesToReplace.Add("B743985C0E3247C38376A8CB4F217C27"); //Form/Simple ECO.xml
											idsOfBodiesToReplace.Add("389932CBF3E44205A1836E9C5181ADDF"); //Form/Simple MCO.xml
											idsOfBodiesToReplace.Add("0B3FDAD5AAA74490BC07B2C5C0819681"); //Form/Vendor Part.xml
											idsOfBodiesToReplace.Add("B66436678134411F81FC2FC0D3087D14"); //Form/Vendor.xml
											idsOfBodiesToReplace.Add("222C35122F1B4898B6F8BB24772FD5C0"); //Form/Activity Completion Worksheet.xml
											idsOfBodiesToReplace.Add("0F3E9019485F452BB71619794C9D8069"); //Form/Activity2 Assignment.xml
											idsOfBodiesToReplace.Add("12A1734508324212B395C53FB328B03F"); //Form/Activity2 Comments.xml
											idsOfBodiesToReplace.Add("FC8BD22CA517491A804F5452E61AFB43"); //Form/Activity2 Task.xml
											idsOfBodiesToReplace.Add("249F71F981DE4E6DB347231CB9871339"); //Form/Activity2 [PanelForm].xml
											idsOfBodiesToReplace.Add("05B64DAA17C04FD691421FA39CCE4B89"); //Form/Activity2.xml
											idsOfBodiesToReplace.Add("4C6EECEDBCD64E45B21D262EF8DCDE05"); //Form/Business Calendar Exception.xml
											idsOfBodiesToReplace.Add("733FC20D46F44FC6A64534EC583A83D1"); //Form/Business Calendar Year.xml
											idsOfBodiesToReplace.Add("440AA834DC894F809D3FC69FC074F1C1"); //Form/PM_ProjectColorPeriod.xml
											idsOfBodiesToReplace.Add("F92A0516285146C0A9E4376862159047"); //Form/PM_ProjectColumnDescription.xml
											idsOfBodiesToReplace.Add("DFCDD17A871A4A71A96624C2A5F45BBB"); //Form/PM_ProjectGridLayout.xml
											idsOfBodiesToReplace.Add("BA051B07975D41B5AD2C7C88D6FF9AAC"); //Form/Part Submission Warrant.xml
											idsOfBodiesToReplace.Add("25BE532F03F04380BE1CE414886F5C1F"); //Form/Program.xml
											idsOfBodiesToReplace.Add("E354E4F38711436CB90DA282B6E7BB4D"); //Form/Project Team.xml
											idsOfBodiesToReplace.Add("65DB9A274E814B92AFCB2CEC08123B06"); //Form/Project.xml
											idsOfBodiesToReplace.Add("DE538E819CAA4EFBA12179A8191425A6"); //Form/Time Record.xml
											idsOfBodiesToReplace.Add("695F7DBD13834173866F25AB7AB8F5FF"); //Form/WBS Element [PanelForm].xml
											idsOfBodiesToReplace.Add("7541630692E240D8A0AC2949066F45D1"); //Form/WBS Element.xml

											if (renderModel.FieldNode.SourceId != null && idsOfBodiesToReplace.Contains(renderModel.FieldNode.SourceId.Value))
											{
												htmlCode = Regex.Replace(htmlCode, @"\btop.aras\b", "aras");

												//Form/Part AML Editor.xml
												if (renderModel.FieldNode.SourceId.Value == "4E00E2975553402DAB4180941C83F124")
												{
													htmlCode = Regex.Replace(htmlCode, @"\btop.window\b", "aras.getMostTopWindowWithAras(window)");
												}

												//Form/Part MultiLevel BOM.xml
												if (renderModel.FieldNode.SourceId.Value == "EC04D8981A89491AAB8AA533DE20B531")
												{
													htmlCode = Regex.Replace(htmlCode, @"\btop.Innovator\b", "aras.getMostTopWindowWithAras(window).Innovator");
												}
											}
											@(Html.Raw(htmlCode))
											break;
										case FieldType.NestedForm:
											@Html.Partial("Partial/FieldNestedForm", renderModel)
											break;
										case FieldType.MenuBar:
											@:uiDrawMenubarEx
											break;
										case FieldType.ToolBar:
											@:uiDrawFieldToolbarEx
											break;
										case FieldType.TabBar:
											@:uiDrawFieldTabbarEx
											break;
										case FieldType.Tree:
											@:uiDrawFieldTreeEx
											break;
										case FieldType.TreeGrid:
											@:uiDrawFieldTreeGridEx
											break;
										case FieldType.Grid:
											@:uiDrawFieldGridEx
											break;
										case FieldType.Label:
											@Html.Partial("Partial/FieldLabel", renderModel)
											break;
										case FieldType.Hidden:
											renderModel.FieldType = FieldType.Hidden;
											@Html.Partial("Partial/FieldHtpEx", renderModel)
											break;
										case FieldType.Text:
											renderModel.FieldType = FieldType.Text;
											@Html.Partial("Partial/FieldHtpEx", renderModel)
											break;
										case FieldType.Password:
											renderModel.FieldType = FieldType.Password;
											@Html.Partial("Partial/FieldHtpEx", renderModel)
											break;
										case FieldType.TextArea:
											@Html.Partial("Partial/FieldTextArea", renderModel)
											break;
										case FieldType.DropDown:
										case FieldType.ListBoxMultiSelect:
										case FieldType.ListBoxSingleSelect:
										case FieldType.ColorList:
											@Html.Partial("Partial/FieldListBox", renderModel)
											break;
										case FieldType.Button:
											@Html.Partial("Partial/FieldButton", renderModel)
											break;
										case FieldType.CheckBox:
											@Html.Partial("Partial/FieldCheckbox", renderModel)
											break;
										case FieldType.CheckBoxList:
											renderModel.FieldType = FieldType.CheckBox;
											@Html.Partial("Partial/FieldChbRadList", renderModel)
											break;
										case FieldType.RadioButtonList:
											renderModel.FieldType = FieldType.Radio;
											@Html.Partial("Partial/FieldChbRadList", renderModel)
											break;
										case FieldType.Date:
											@Html.Partial("Partial/FieldDate", renderModel)
											break;
										case FieldType.Item:
											renderModel.IsMLString = false;
											// If item is file
											var propNode = renderModel.PropertyNode;
											if (propNode != null && propNode.DataSource != null
												&& propNode.DataSource.Name == "File" && Model.Mode != "search")
											{
												@Html.Partial("Partial/FieldFileItem", renderModel)
											}
											break;
										case FieldType.MLString:
											renderModel.IsMLString = true;
											@Html.Partial("Partial/FieldItem", renderModel);
											break;
										case FieldType.Image:
											@Html.Partial("Partial/FieldImage", renderModel);
											break;
										case FieldType.Color:
											@Html.Partial("Partial/FieldColor", renderModel);
											break;
										case FieldType.FileItem:
											@Html.Partial("Partial/FieldFileItem", renderModel);
											break;
										case FieldType.FormattedText:
											@Html.Partial("Partial/FieldFormattedText", renderModel);
											break;
										case FieldType.GroupBox:
											@Html.Partial("Partial/FieldGroupBox", Model);
											break;
									}
								}
								@:<div class="sys_f_value">
								@:@RenderField(fieldType, renderModel)
								@:</div>

								var onRestrictedMsgClickFuncNm = "system$" + fieldId + "$restrictedMsgClick";
								var onClickHandlerBody = onRestrictedMsgClickFuncNm + "(true, event);";

								@:<div class="sys_f_restricted_msg" id="sys_f_restricted_msg" name="sys_f_restricted_msg" onclick="@(onClickHandlerBody)" onhelp="@(onRestrictedMsgClickFuncNm)(false, event);">@(MethodsExUtils.GetResource(Model.CommonInfo.ResourceInfo, "common.restricted_property_warning"))</div>
								<script type="text/javascript">
									function @(onRestrictedMsgClickFuncNm)(doHide, event)
									{
										if (!document.isEditMode && doHide == true) return false;
										var pn = "@(!String.IsNullOrEmpty(propName) ? propName : String.Empty)";
										var s = event.srcElement || event.target;
										if (!pn || !document.item.selectSingleNode(pn + "[@@is_null='0']"))
										{
											s.style.display = "";
											s.parentElement.getElementsByTagName("DIV")[0].style.display="";
											return;
										}
										s.style.display = (doHide ? "" : "block");
										s.parentElement.getElementsByTagName("DIV")[0].style.display = (doHide ? "" : "none");
									}
								</script>
								if (labelPosition == "right" || labelPosition == "bottom")
								{
									@:</td>
									if (labelPosition == "bottom") // Append tr
									{
										@:</tr>
										@:<tr class="sys_f_tr">
									}
									var fontFamily = !String.IsNullOrEmpty(Model.FieldNode.FontFamily) ? "font-family:" + Model.FieldNode.FontFamily + ";" : String.Empty;
									var fontSize = !String.IsNullOrEmpty(Model.FieldNode.FontSize) ? "font-size:" + Model.FieldNode.FontSize + ";" : String.Empty;
									var fontWeight = !String.IsNullOrEmpty(Model.FieldNode.FontWeight) ? "font-weight:" + Model.FieldNode.FontWeight + ";" : String.Empty;
									var fontColor = !String.IsNullOrEmpty(Model.FieldNode.FontColor) ? "color:" + Model.FieldNode.FontColor + ";" : String.Empty;
									var label = !Model.FieldNode.Label.IsNull ? Model.FieldNode.Label.Value : String.Empty;

									@:<td class="@(secondContainerClass1) @(secondContainerClass2) @(secondContainerClass3)" style="@(secondContainerStyle1)">
									@:<div class="sys_f_label" style="@(fontFamily) @(fontSize) @(fontWeight) @(fontColor)">@Html.Raw(!String.IsNullOrEmpty(label) ? MethodsExUtils.PreserveTags(label) : string.Empty)</div>
								}
						@:</td>
					@:</tr>
				@:</tbody>
			@:</table>
		}</fieldset>
</div><!-- end of @(fieldName) -->
